# Modeling

# Neural Network Classifier

Going to set up our dataset by scaling and handling the imbalanced data.

We then will fit a basic NeuralNetworkClassifier to see if we can find some obvious issues as well as noting what a "first try" model looks like as a baseline, beyond our null model.

After that "first try" model, we will fix any obvious issues then iterate through GridSearches to optimize hyperparameters based on general knowledge of NN and ranges established through previous GridSearches.

## Imports

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn import metrics
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, GRU
from tensorflow.keras.layers import Dropout
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

from imblearn.under_sampling import NearMiss, RandomUnderSampler
from imblearn.over_sampling import SMOTE, RandomOverSampler
from collections import Counter

## Read in Data

Import data and observe the basics

In [20]:
csv_file = "../Claire/data/drugs_2020_simply_imputed.csv"
df = pd.read_csv(csv_file)
print(df.shape)
df.head()

(16829, 64)

,accgdln,age,altdum,amttotal,casetype,citwhere,combdrg2,crimhist,disposit,district,...,typemony,typeoths,unit1,mwgt1,wgt1,xcrhissr,xfolsor,xmaxsor,xminsor,sentrnge
0,1.0,20.0,0,0,1.0,211.0,6.0,1.0,1,43,...,1.0,0,1.0,6.356099e+07,85104.433315,1.0,17.0,30.0,24.0,8.0
1,1.0,64.0,0,0,1.0,211.0,1.0,1.0,1,51,...,1.0,0,1.0,1.193400e+06,5967.000000,3.0,27.0,108.0,87.0,0.0
2,1.0,28.0,0,0,1.0,211.0,3.0,1.0,1,48,...,1.0,0,2.0,2.000000e+06,2000.000000,6.0,27.0,162.0,130.0,2.0
3,2.0,55.0,0,0,1.0,211.0,77.0,1.0,1,65,...,1.0,0,1.0,1.030000e+04,4.120000,5.0,13.0,37.0,30.0,0.0
4,1.0,30.0,0,0,1.0,211.0,6.0,1.0,1,87,...,1.0,0,1.0,1.692000e+05,84.600000,6.0,25.0,137.0,110.0,2.0

> **16829 rows and 67 columns**
>> **However some of these columns are dropped and one is our target columns, PRISDUM**

In [21]:
df.columns

Index(['accgdln', 'age', 'altdum', 'amttotal', 'casetype', 'citwhere',
       'combdrg2', 'crimhist', 'disposit', 'district', 'drugmin', 'dsplea',
       'educatn', 'intdum', 'methmin', 'monrace', 'monsex', 'mweight',
       'newcit', 'newcnvtn', 'neweduc', 'newrace', 'nodrug', 'numdepen',
       'offguide', 'prisdum', 'probatn', 'probdum', 'quarter', 'reas1',
       'reas2', 'reas3', 'regsxmin', 'relmin', 'restdet1', 'restdum', 'safe',
       'safety', 'senspcap', 'sensplt0', 'sentimp', 'smax1', 'smin1',
       'sources', 'statmax', 'statmin', 'supermax', 'supermin', 'suprdum',
       'suprel', 'timservc', 'totchpts', 'totrest', 'totunit', 'typemony',
       'typeoths', 'unit1', 'mwgt1', 'wgt1', 'xcrhissr', 'xfolsor', 'xmaxsor',
       'xminsor', 'sentrnge'],
      dtype='object')

- Drop the index columns created from saving a DataFrame to a csv.
- Also drop the columns we have identified as either too correlated or not useful for our model.

# Some EDA

## Train Test Split

Set our X and Y

In [22]:
X = df.drop(columns=['prisdum'])
y = df['prisdum']

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

In [24]:
X_no = X.drop(columns=['age', 'newrace', 'monsex', 'monrace', 'neweduc', 'newcnvtn'])

In [25]:
X_no_train, X_no_test, y_no_train, y_no_test = train_test_split(X_no, y, stratify=y)

## Scale Data for Neural Network Classifier

In [26]:
sc = StandardScaler()
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

In [27]:
sc = StandardScaler()
X_no_train_sc = sc.fit_transform(X_no_train)
X_no_test_sc = sc.transform(X_no_test)

### Null Model

In [28]:
y.value_counts(normalize=True)

1    0.955196
0    0.044804
Name: prisdum, dtype: float64

> We see that we have a very imblanced dataset.

In [29]:
y_test.value_counts()

1    4019
0     189
Name: prisdum, dtype: int64

# Model on Imblanced Data

In [30]:
model = Sequential()
model.add(Dense(64, input_shape=(X_train_sc.shape[1],), activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='bce', 
              optimizer='adam', 
              metrics=['accuracy'])

early_stop = EarlyStopping(monitor='val_loss', patience=10, verbose=1)

history = model.fit(
    X_train_sc,
    y_train,
    validation_data=(X_test_sc, y_test),
    epochs=200,
    callbacks=[early_stop]
)

Epoch 1/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0448 - accuracy: 0.9905 - val_loss: 0.0141 - val_accuracy: 0.9979
Epoch 2/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0127 - accuracy: 0.9971 - val_loss: 0.0129 - val_accuracy: 0.9976
Epoch 3/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0073 - accuracy: 0.9983 - val_loss: 0.0126 - val_accuracy: 0.9979
Epoch 4/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0082 - accuracy: 0.9976 - val_loss: 0.0195 - val_accuracy: 0.9979
Epoch 5/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0051 - accuracy: 0.9981 - val_loss: 0.0160 - val_accuracy: 0.9979
Epoch 6/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0044 - accuracy: 0.9983 - val_loss: 0.0165 - val_accuracy: 0.9979
Epoch 7/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0037 - accuracy: 0.9987 - val_loss: 0.0168 - val_accuracy: 0.9979
Epoch 8/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0029 - accuracy: 0.9989 - val_loss: 0.0183 - val_accuracy: 0.9981
Epoch 9/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0025 - accuracy: 0.9994 - val_loss: 0.0196 - val_accuracy: 0.9983
Epoch 10/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0034 - accuracy: 0.9987 - val_loss: 0.0201 - val_accuracy: 0.9983
Epoch 11/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0023 - accuracy: 0.9992 - val_loss: 0.0189 - val_accuracy: 0.9981
Epoch 12/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0020 - accuracy: 0.9993 - val_loss: 0.0186 - val_accuracy: 0.9983
Epoch 13/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 0.9995 - val_loss: 0.0220 - val_accuracy: 0.9981
Epoch 00013: early stopping

#### Analysis:
Results: loss: 0.0073 - accuracy: 0.9976 - val_loss: 0.0070 - val_accuracy: 0.9988

As expected, a very accurate model. However, not a massive improvement over our null model and therefore likely suffering because of that imbalance.

In [31]:
preds = np.round(model.predict(X_test_sc),0)
tn, fp, fn, tp = metrics.confusion_matrix(y_test, preds).ravel()


df = pd.DataFrame(metrics.confusion_matrix(y_test, preds), 
                  columns=['predicted_no_prison', 'predicted_prison'], 
                  index=['actual_no_prison', 'actual_prison']
                 )
df

                  predicted_no_prison  predicted_prison
actual_no_prison                  186                 3
actual_prison                       5              4014

In [32]:
misclass1 = []
for row_index, (input, prediction, label) in enumerate(zip (X_test_sc, preds, y_test)):
    if prediction != label:
        misclass1.append(row_index)
        print('Row', row_index, 'has been classified as ', prediction, 'and should be ', label)

Row 619 has been classified as  [0.] and should be  1
Row 1104 has been classified as  [0.] and should be  1
Row 1274 has been classified as  [1.] and should be  0
Row 2425 has been classified as  [0.] and should be  1
Row 2915 has been classified as  [1.] and should be  0
Row 3106 has been classified as  [1.] and should be  0
Row 3983 has been classified as  [0.] and should be  1
Row 4065 has been classified as  [0.] and should be  1

# Make dataframe out of misclassification list

In [38]:
X.iloc[misclass1][['age', 'newrace', 'monsex', 'monrace', 'neweduc', 'newcnvtn', 'educatn']]

       age  newrace  monsex  monrace  neweduc  newcnvtn  educatn
619   44.0      2.0     0.0        2      3.0         0     21.0
1104  48.0      1.0     1.0        1      5.0         0     23.0
1274  34.0      2.0     0.0        2      5.0         0     34.0
2425  38.0      2.0     0.0        2      6.0         0     16.0
2915  22.0      3.0     1.0        1      3.0         0     12.0
3106  59.0      2.0     0.0        2      1.0         0      6.0
3983  27.0      1.0     1.0        1      5.0         0     34.0
4065  50.0      3.0     0.0        1      5.0         1     34.0

**Imbalanced Model Misclassified Individuals**

We will use this as a baseline against other misclassifications in the attempt to see if there is a pattern.

Indices for misclassifications are: 619, 1104, 1274, 2425, 2914, 3106, 3983, 4065

## Without Demographic information

In [40]:
model = Sequential()
model.add(Dense(64, input_shape=(X_no_train_sc.shape[1],), activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='bce', 
              optimizer='adam', 
              metrics=['accuracy'])

early_stop = EarlyStopping(monitor='val_loss', patience=10, verbose=1)

history = model.fit(
    X_no_train_sc,
    y_no_train,
    validation_data=(X_no_test_sc, y_no_test),
    epochs=200,
    callbacks=[early_stop]
)

Epoch 1/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0437 - accuracy: 0.9903 - val_loss: 0.0337 - val_accuracy: 0.9962
Epoch 2/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0106 - accuracy: 0.9971 - val_loss: 0.0316 - val_accuracy: 0.9967
Epoch 3/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0063 - accuracy: 0.9977 - val_loss: 0.0376 - val_accuracy: 0.9955
Epoch 4/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0059 - accuracy: 0.9984 - val_loss: 0.0308 - val_accuracy: 0.9971
Epoch 5/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0049 - accuracy: 0.9988 - val_loss: 0.0387 - val_accuracy: 0.9967
Epoch 6/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0038 - accuracy: 0.9989 - val_loss: 0.0452 - val_accuracy: 0.9969
Epoch 7/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0043 - accuracy: 0.9987 - val_loss: 0.0353 - val_accuracy: 0.9979
Epoch 8/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0037 - accuracy: 0.9990 - val_loss: 0.0345 - val_accuracy: 0.9976
Epoch 9/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0017 - accuracy: 0.9991 - val_loss: 0.0348 - val_accuracy: 0.9979
Epoch 10/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0019 - accuracy: 0.9994 - val_loss: 0.0470 - val_accuracy: 0.9974
Epoch 11/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0020 - accuracy: 0.9993 - val_loss: 0.0467 - val_accuracy: 0.9955
Epoch 12/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0024 - accuracy: 0.9992 - val_loss: 0.0404 - val_accuracy: 0.9971
Epoch 13/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 0.9994 - val_loss: 0.0450 - val_accuracy: 0.9976
Epoch 14/200
395/395 [==============================] - 1s 2ms/step - loss: 0.0045 - accuracy: 0.9991 - val_loss: 0.0345 - val_accuracy: 0.9979
Epoch 00014: early stopping

#### Analysis:
Results: loss: 0.2942 - accuracy: 0.9568 - val_loss: 0.1175 - val_accuracy: 0.9665

As expected, a very accurate model. However, not a massive improvement over our null model and therefore likely suffering because of that imbalance.
> Interestingly, we do see a drop in accuracy after removing demographic information. However, the model is still suffering from the class imbalance and the accuracy was swinging from 95-99%.

In [41]:
preds = np.round(model.predict(X_no_test_sc),0)
tn, fp, fn, tp = metrics.confusion_matrix(y_no_test, preds).ravel()



df = pd.DataFrame(metrics.confusion_matrix(y_no_test, preds), 
                  columns=['predicted_no_prison', 'predicted_prison'], 
                  index=['actual_no_prison', 'actual_prison']
                 )
df

                  predicted_no_prison  predicted_prison
actual_no_prison                  182                 7
actual_prison                       2              4017

In [42]:
misclass1_no = []
for row_index, (input, prediction, label) in enumerate(zip (X_no_test_sc, preds, y_no_test)):
    if prediction != label:
        misclass1_no.append(row_index)
        print('Row', row_index, 'has been classified as ', prediction, 'and should be ', label)

Row 301 has been classified as  [1.] and should be  0
Row 927 has been classified as  [1.] and should be  0
Row 1103 has been classified as  [1.] and should be  0
Row 1648 has been classified as  [0.] and should be  1
Row 2621 has been classified as  [1.] and should be  0
Row 2932 has been classified as  [1.] and should be  0
Row 2949 has been classified as  [1.] and should be  0
Row 3362 has been classified as  [0.] and should be  1
Row 3878 has been classified as  [1.] and should be  0

In [43]:
X.iloc[misclass1_no][['age', 'newrace', 'monsex', 'monrace', 'neweduc', 'newcnvtn', 'educatn']]

       age  newrace  monsex  monrace  neweduc  newcnvtn  educatn
301   42.0      1.0     0.0        1      3.0         0     12.0
927   25.0      6.0     0.0        3      3.0         0     12.0
1103  35.0      2.0     0.0        2      3.0         0     33.0
1648  28.0      2.0     0.0        2      1.0         0     32.0
2621  37.0      2.0     0.0        2      1.0         0     10.0
2932  28.0      3.0     0.0        1      1.0         0     32.0
2949  30.0      2.0     0.0        2      3.0         0     21.0
3362  34.0      2.0     0.0        2      1.0         0      9.0
3878  25.0      1.0     1.0        1      3.0         0     12.0

**Imbalanced Model, No Demographic, Misclassified Individuals**

We will use this as a baseline against other misclassifications in the attempt to see if there is a pattern.

Indices for misclassifications are: 619, 1104, 1274, 2425, 2914, 3106, 3983, 4065

---

# Balance Imbalanced Data

### Under Sample Majority

In [19]:
nm = RandomUnderSampler()
X_train_under, y_train_under = nm.fit_resample(X_train_sc, y_train)

In [20]:
y_train_under.value_counts(normalize=True)

0    0.5
1    0.5
Name: prisdum, dtype: float64

In [21]:
model = Sequential()
model.add(Dense(64, input_shape=(X_train_under.shape[1],), activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='bce', 
              optimizer='adam', 
              metrics=['accuracy'])

early_stop = EarlyStopping(monitor='val_loss', patience=10, verbose=1)

history = model.fit(
    X_train_under,
    y_train_under,
    validation_data=(X_test_sc, y_test),
    epochs=200,
    callbacks=[early_stop]
)

Epoch 1/200
36/36 [==============================] - 1s 8ms/step - loss: 0.3821 - accuracy: 0.8451 - val_loss: 0.1950 - val_accuracy: 0.9710
Epoch 2/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0859 - accuracy: 0.9912 - val_loss: 0.0873 - val_accuracy: 0.9817
Epoch 3/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0393 - accuracy: 0.9929 - val_loss: 0.0715 - val_accuracy: 0.9836
Epoch 4/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0265 - accuracy: 0.9920 - val_loss: 0.0715 - val_accuracy: 0.9805
Epoch 5/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0182 - accuracy: 0.9982 - val_loss: 0.0375 - val_accuracy: 0.9926
Epoch 6/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0252 - accuracy: 0.9947 - val_loss: 0.0735 - val_accuracy: 0.9796
Epoch 7/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0134 - accuracy: 0.9956 - val_loss: 0.0340 - val_accuracy: 0.9931
Epoch 8/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0111 - accuracy: 0.9973 - val_loss: 0.0572 - val_accuracy: 0.9857
Epoch 9/200
36/36 [==============================] - 0s 4ms/step - loss: 0.0095 - accuracy: 0.9973 - val_loss: 0.0406 - val_accuracy: 0.9924
Epoch 10/200
36/36 [==============================] - 0s 4ms/step - loss: 0.0049 - accuracy: 0.9991 - val_loss: 0.0459 - val_accuracy: 0.9919
Epoch 11/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0018 - accuracy: 1.0000 - val_loss: 0.0526 - val_accuracy: 0.9914
Epoch 12/200
36/36 [==============================] - 0s 4ms/step - loss: 0.0071 - accuracy: 0.9982 - val_loss: 0.0536 - val_accuracy: 0.9914
Epoch 13/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0011 - accuracy: 1.0000 - val_loss: 0.0412 - val_accuracy: 0.9933
Epoch 14/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0015 - accuracy: 1.0000 - val_loss: 0.0505 - val_accuracy: 0.9924
Epoch 15/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0043 - accuracy: 0.9982 - val_loss: 0.0436 - val_accuracy: 0.9931
Epoch 16/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0031 - accuracy: 0.9991 - val_loss: 0.0336 - val_accuracy: 0.9952
Epoch 17/200
36/36 [==============================] - 0s 4ms/step - loss: 0.0037 - accuracy: 0.9991 - val_loss: 0.0690 - val_accuracy: 0.9917
Epoch 18/200
36/36 [==============================] - 0s 4ms/step - loss: 0.0055 - accuracy: 0.9991 - val_loss: 0.0618 - val_accuracy: 0.9926
Epoch 19/200
36/36 [==============================] - 0s 4ms/step - loss: 0.0021 - accuracy: 0.9991 - val_loss: 0.0888 - val_accuracy: 0.9912
Epoch 20/200
36/36 [==============================] - 0s 5ms/step - loss: 3.9762e-04 - accuracy: 1.0000 - val_loss: 0.0883 - val_accuracy: 0.9914
Epoch 21/200
36/36 [==============================] - 0s 4ms/step - loss: 0.0015 - accuracy: 0.9991 - val_loss: 0.0863 - val_accuracy: 0.9917
Epoch 22/200
36/36 [==============================] - 0s 4ms/step - loss: 4.1787e-04 - accuracy: 1.0000 - val_loss: 0.0800 - val_accuracy: 0.9924
Epoch 23/200
36/36 [==============================] - 0s 4ms/step - loss: 6.1956e-04 - accuracy: 1.0000 - val_loss: 0.0819 - val_accuracy: 0.9924
Epoch 24/200
36/36 [==============================] - 0s 5ms/step - loss: 0.0012 - accuracy: 1.0000 - val_loss: 0.0846 - val_accuracy: 0.9926
Epoch 25/200
36/36 [==============================] - 0s 5ms/step - loss: 8.6020e-05 - accuracy: 1.0000 - val_loss: 0.0950 - val_accuracy: 0.9912
Epoch 26/200
36/36 [==============================] - 0s 5ms/step - loss: 4.5045e-04 - accuracy: 1.0000 - val_loss: 0.0910 - val_accuracy: 0.9924
Epoch 00026: early stopping

#### Analysis 

Results: loss: 0.0301 - accuracy: 0.9876 - val_loss: 0.1276 - val_accuracy: 0.9903

This is still very wrong. There must be a variable giving it away.

In [22]:
preds = np.round(model.predict(X_test_sc),0)
tn, fp, fn, tp = metrics.confusion_matrix(y_test, preds).ravel()



df = pd.DataFrame(metrics.confusion_matrix(y_test, preds), 
                  columns=['predicted_no_prison', 'predicted_prison'], 
                  index=['actual_no_prison', 'actual_prison']
                 )
df

                  predicted_no_prison  predicted_prison
actual_no_prison                  187                 2
actual_prison                      30              3989

In [24]:
for row_index, (input, prediction, label) in enumerate(zip (X_test_sc, preds, y_test)):
    if prediction != label:
        print('Row', row_index, 'has been classified as ', prediction, 'and should be ', label)

Row 313 has been classified as  [0.] and should be  1
Row 624 has been classified as  [1.] and should be  0
Row 774 has been classified as  [0.] and should be  1
Row 785 has been classified as  [0.] and should be  1
Row 890 has been classified as  [0.] and should be  1
Row 953 has been classified as  [0.] and should be  1
Row 1191 has been classified as  [0.] and should be  1
Row 1216 has been classified as  [0.] and should be  1
Row 1370 has been classified as  [0.] and should be  1
Row 1633 has been classified as  [0.] and should be  1
Row 1665 has been classified as  [0.] and should be  1
Row 1770 has been classified as  [0.] and should be  1
Row 2021 has been classified as  [0.] and should be  1
Row 2101 has been classified as  [0.] and should be  1
Row 2214 has been classified as  [0.] and should be  1
Row 2230 has been classified as  [0.] and should be  1
Row 2296 has been classified as  [0.] and should be  1
Row 2476 has been classified as  [0.] and should be  1
Row 2547 has been classified as  [0.] and should be  1
Row 2620 has been classified as  [0.] and should be  1
Row 2696 has been classified as  [1.] and should be  0
Row 2788 has been classified as  [0.] and should be  1
Row 2799 has been classified as  [0.] and should be  1
Row 2806 has been classified as  [0.] and should be  1
Row 2899 has been classified as  [0.] and should be  1
Row 2926 has been classified as  [0.] and should be  1
Row 3549 has been classified as  [0.] and should be  1
Row 3591 has been classified as  [0.] and should be  1
Row 3646 has been classified as  [0.] and should be  1
Row 3717 has been classified as  [0.] and should be  1
Row 3800 has been classified as  [0.] and should be  1
Row 3855 has been classified as  [0.] and should be  1

## Without Demographic information

In [ ]:
nm = RandomUnderSampler()
X_train_sc_no_dem_under, y_train_no_dem_under = nm.fit_resample(X_train_sc_no_dem, y_train_no_dem)

In [16]:
model = Sequential()
model.add(Dense(64, input_shape=(X_train_sc_no_dem_under.shape[1],), activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='bce', 
              optimizer='adam', 
              metrics=['accuracy'])

early_stop = EarlyStopping(monitor='val_loss', patience=10, verbose=1)

history = model.fit(
    X_train_sc_no_dem_under,
    y_train_no_dem_under,
    validation_data=(X_test_sc_no_dem, y_test_no_dem),
    epochs=200,
    callbacks=[early_stop]
)

Epoch 1/200
395/395 [==============================] - 1s 2ms/step - loss: 107202.8281 - accuracy: 0.9201 - val_loss: 0.6836 - val_accuracy: 0.5071
Epoch 2/200
395/395 [==============================] - 1s 2ms/step - loss: 33075.9414 - accuracy: 0.9191 - val_loss: 0.7106 - val_accuracy: 0.1502
Epoch 3/200
395/395 [==============================] - 1s 2ms/step - loss: 4004.1794 - accuracy: 0.8844 - val_loss: 0.5723 - val_accuracy: 0.9567
Epoch 4/200
395/395 [==============================] - 1s 2ms/step - loss: 1258.4376 - accuracy: 0.9435 - val_loss: 0.3970 - val_accuracy: 0.9551
Epoch 5/200
395/395 [==============================] - 1s 2ms/step - loss: 812.1278 - accuracy: 0.9480 - val_loss: 0.3079 - val_accuracy: 0.9551
Epoch 6/200
395/395 [==============================] - 1s 2ms/step - loss: 257.3268 - accuracy: 0.9503 - val_loss: 0.2554 - val_accuracy: 0.9551
Epoch 7/200
395/395 [==============================] - 1s 2ms/step - loss: 222.7322 - accuracy: 0.9528 - val_loss: 0.2243 - val_accuracy: 0.9551
Epoch 8/200
395/395 [==============================] - 1s 2ms/step - loss: 190.8450 - accuracy: 0.9526 - val_loss: 0.2049 - val_accuracy: 0.9551
Epoch 9/200
395/395 [==============================] - 1s 2ms/step - loss: 38.3616 - accuracy: 0.9544 - val_loss: 0.1934 - val_accuracy: 0.9551
Epoch 10/200
395/395 [==============================] - 1s 2ms/step - loss: 176.0306 - accuracy: 0.9529 - val_loss: 0.1832 - val_accuracy: 0.9551
Epoch 11/200
395/395 [==============================] - 1s 2ms/step - loss: 72.1344 - accuracy: 0.9543 - val_loss: 0.1777 - val_accuracy: 0.9551
Epoch 12/200
395/395 [==============================] - 1s 2ms/step - loss: 33.8919 - accuracy: 0.9550 - val_loss: 0.1745 - val_accuracy: 0.9551
Epoch 13/200
395/395 [==============================] - 1s 2ms/step - loss: 44.0426 - accuracy: 0.9545 - val_loss: 0.1699 - val_accuracy: 0.9551
Epoch 14/200
395/395 [==============================] - 1s 2ms/step - loss: 41.1562 - accuracy: 0.9544 - val_loss: 0.1594 - val_accuracy: 0.9551
Epoch 15/200
395/395 [==============================] - 1s 2ms/step - loss: 12.4231 - accuracy: 0.9552 - val_loss: 0.1632 - val_accuracy: 0.9551
Epoch 16/200
395/395 [==============================] - 1s 2ms/step - loss: 23.8364 - accuracy: 0.9549 - val_loss: 0.1598 - val_accuracy: 0.9551
Epoch 17/200
395/395 [==============================] - 1s 2ms/step - loss: 91.7929 - accuracy: 0.9546 - val_loss: 0.1560 - val_accuracy: 0.9551
Epoch 18/200
395/395 [==============================] - 1s 2ms/step - loss: 65.3858 - accuracy: 0.9551 - val_loss: 0.1499 - val_accuracy: 0.9551
Epoch 19/200
395/395 [==============================] - 1s 2ms/step - loss: 4.7555 - accuracy: 0.9555 - val_loss: 0.1428 - val_accuracy: 0.9551
Epoch 20/200
395/395 [==============================] - 1s 2ms/step - loss: 26.5642 - accuracy: 0.9552 - val_loss: 0.1434 - val_accuracy: 0.9551
Epoch 21/200
395/395 [==============================] - 1s 2ms/step - loss: 1023.3614 - accuracy: 0.9556 - val_loss: 0.1375 - val_accuracy: 0.9551
Epoch 22/200
395/395 [==============================] - 1s 2ms/step - loss: 31.1333 - accuracy: 0.9556 - val_loss: 0.1361 - val_accuracy: 0.9551
Epoch 23/200
395/395 [==============================] - 1s 2ms/step - loss: 8.0456 - accuracy: 0.9557 - val_loss: 0.1266 - val_accuracy: 0.9551
Epoch 24/200
395/395 [==============================] - 1s 2ms/step - loss: 888.0294 - accuracy: 0.9559 - val_loss: 0.1173 - val_accuracy: 0.9551
Epoch 25/200
395/395 [==============================] - 1s 2ms/step - loss: 285.1812 - accuracy: 0.9557 - val_loss: 0.0917 - val_accuracy: 0.9684
Epoch 26/200
395/395 [==============================] - 1s 2ms/step - loss: 14.6747 - accuracy: 0.9559 - val_loss: 0.0851 - val_accuracy: 0.9777
Epoch 27/200
395/395 [==============================] - 1s 2ms/step - loss: 18.0241 - accuracy: 0.9560 - val_loss: 0.0800 - val_accuracy: 0.9831
Epoch 28/200
395/395 [==============================] - 1s 2ms/step - loss: 0.2934 - accuracy: 0.9560 - val_loss: 0.0720 - val_accuracy: 0.9912
Epoch 29/200
395/395 [==============================] - 1s 2ms/step - loss: 0.2675 - accuracy: 0.9562 - val_loss: 0.0792 - val_accuracy: 0.9829
Epoch 30/200
395/395 [==============================] - 1s 2ms/step - loss: 0.6548 - accuracy: 0.9558 - val_loss: 0.0844 - val_accuracy: 0.9777
Epoch 31/200
395/395 [==============================] - 1s 2ms/step - loss: 20.8517 - accuracy: 0.9559 - val_loss: 0.0836 - val_accuracy: 0.9786
Epoch 32/200
395/395 [==============================] - 1s 2ms/step - loss: 18.7607 - accuracy: 0.9557 - val_loss: 0.0906 - val_accuracy: 0.9705
Epoch 33/200
395/395 [==============================] - 1s 2ms/step - loss: 0.2637 - accuracy: 0.9559 - val_loss: 0.0715 - val_accuracy: 0.9914
Epoch 34/200
395/395 [==============================] - 1s 2ms/step - loss: 0.7534 - accuracy: 0.9556 - val_loss: 0.0697 - val_accuracy: 0.9922
Epoch 35/200
395/395 [==============================] - 1s 2ms/step - loss: 0.2298 - accuracy: 0.9559 - val_loss: 0.0667 - val_accuracy: 0.9936
Epoch 36/200
395/395 [==============================] - 1s 2ms/step - loss: 0.1801 - accuracy: 0.9560 - val_loss: 0.0619 - val_accuracy: 0.9957
Epoch 37/200
395/395 [==============================] - 1s 3ms/step - loss: 0.1798 - accuracy: 0.9562 - val_loss: 0.0626 - val_accuracy: 0.9955
Epoch 38/200
395/395 [==============================] - 1s 3ms/step - loss: 0.1817 - accuracy: 0.9561 - val_loss: 0.0673 - val_accuracy: 0.9943
Epoch 39/200
395/395 [==============================] - 1s 2ms/step - loss: 0.1803 - accuracy: 0.9559 - val_loss: 0.0630 - val_accuracy: 0.9957
Epoch 40/200
395/395 [==============================] - 1s 2ms/step - loss: 0.1803 - accuracy: 0.9561 - val_loss: 0.0622 - val_accuracy: 0.9957
Epoch 41/200
395/395 [==============================] - 1s 2ms/step - loss: 0.1804 - accuracy: 0.9560 - val_loss: 0.0617 - val_accuracy: 0.9957
Epoch 42/200
395/395 [==============================] - 1s 2ms/step - loss: 0.1797 - accuracy: 0.9563 - val_loss: 0.0614 - val_accuracy: 0.9957
Epoch 43/200
395/395 [==============================] - 1s 2ms/step - loss: 5.9917 - accuracy: 0.9559 - val_loss: 0.0612 - val_accuracy: 0.9957
Epoch 44/200
395/395 [==============================] - 1s 2ms/step - loss: 6.1810 - accuracy: 0.9557 - val_loss: 0.0621 - val_accuracy: 0.9955
Epoch 45/200
395/395 [==============================] - 1s 2ms/step - loss: 0.1797 - accuracy: 0.9562 - val_loss: 0.0653 - val_accuracy: 0.9955
Epoch 46/200
395/395 [==============================] - 1s 2ms/step - loss: 0.1792 - accuracy: 0.9563 - val_loss: 0.0655 - val_accuracy: 0.9955
Epoch 47/200
395/395 [==============================] - 1s 2ms/step - loss: 0.1788 - accuracy: 0.9565 - val_loss: 0.0675 - val_accuracy: 0.9938
Epoch 48/200
395/395 [==============================] - 1s 2ms/step - loss: 0.1805 - accuracy: 0.9563 - val_loss: 0.0684 - val_accuracy: 0.9929
Epoch 49/200
395/395 [==============================] - 1s 2ms/step - loss: 47.2259 - accuracy: 0.9560 - val_loss: 0.0646 - val_accuracy: 0.9955
Epoch 50/200
395/395 [==============================] - 1s 2ms/step - loss: 72.2694 - accuracy: 0.9561 - val_loss: 0.0667 - val_accuracy: 0.9943
Epoch 51/200
395/395 [==============================] - 1s 2ms/step - loss: 21.2597 - accuracy: 0.9561 - val_loss: 0.0683 - val_accuracy: 0.9933
Epoch 52/200
395/395 [==============================] - 1s 2ms/step - loss: 0.1794 - accuracy: 0.9563 - val_loss: 0.0703 - val_accuracy: 0.9917
Epoch 53/200
395/395 [==============================] - 1s 2ms/step - loss: 0.1797 - accuracy: 0.9562 - val_loss: 0.0763 - val_accuracy: 0.9876
Epoch 00053: early stopping

#### Analysis:
Results: loss: 0.2942 - accuracy: 0.9568 - val_loss: 0.1175 - val_accuracy: 0.9665

As expected, a very accurate model. However, not a massive improvement over our null model and therefore likely suffering because of that imbalance.
> Interestingly, we do see a drop in accuracy after removing demographic information. However, the model is still suffering from the class imbalance and the accuracy was swinging from 95-99%.

In [17]:
preds = np.round(model.predict(X_test_sc_no_dem),0)
tn, fp, fn, tp = metrics.confusion_matrix(y_test_no_dem, preds).ravel()



df = pd.DataFrame(metrics.confusion_matrix(y_test_no_dem, preds), 
                  columns=['predicted_no_prison', 'predicted_prison'], 
                  index=['actual_no_prison', 'actual_prison']
                 )
df

                  predicted_no_prison  predicted_prison
actual_no_prison                    9               180
actual_prison                     200              3819

In [18]:
for row_index, (input, prediction, label) in enumerate(zip (X_test_sc_no_dem, preds, y_test_no_dem)):
    if prediction != label:
        print('Row', row_index, 'has been classified as ', prediction, 'and should be ', label)

Row 4 has been classified as  [1.] and should be  0
Row 10 has been classified as  [1.] and should be  0
Row 17 has been classified as  [0.] and should be  1
Row 22 has been classified as  [1.] and should be  0
Row 27 has been classified as  [1.] and should be  0
Row 28 has been classified as  [0.] and should be  1
Row 31 has been classified as  [0.] and should be  1
Row 37 has been classified as  [0.] and should be  1
Row 52 has been classified as  [0.] and should be  1
Row 61 has been classified as  [1.] and should be  0
Row 104 has been classified as  [0.] and should be  1
Row 106 has been classified as  [1.] and should be  0
Row 107 has been classified as  [1.] and should be  0
Row 112 has been classified as  [0.] and should be  1
Row 122 has been classified as  [1.] and should be  0
Row 137 has been classified as  [1.] and should be  0
Row 150 has been classified as  [1.] and should be  0
Row 155 has been classified as  [1.] and should be  0
Row 156 has been classified as  [0.] and should be  1
Row 174 has been classified as  [1.] and should be  0
Row 192 has been classified as  [0.] and should be  1
Row 195 has been classified as  [0.] and should be  1
Row 196 has been classified as  [0.] and should be  1
Row 198 has been classified as  [0.] and should be  1
Row 204 has been classified as  [0.] and should be  1
Row 214 has been classified as  [0.] and should be  1
Row 219 has been classified as  [1.] and should be  0
Row 233 has been classified as  [0.] and should be  1
Row 247 has been classified as  [1.] and should be  0
Row 262 has been classified as  [1.] and should be  0
Row 264 has been classified as  [1.] and should be  0
Row 265 has been classified as  [0.] and should be  1
Row 271 has been classified as  [0.] and should be  1
Row 278 has been classified as  [1.] and should be  0
Row 280 has been classified as  [1.] and should be  0
Row 282 has been classified as  [1.] and should be  0
Row 293 has been classified as  [1.] and should be  0
Row 333 has been classified as  [1.] and should be  0
Row 337 has been classified as  [0.] and should be  1
Row 344 has been classified as  [0.] and should be  1
Row 358 has been classified as  [0.] and should be  1
Row 362 has been classified as  [0.] and should be  1
Row 372 has been classified as  [1.] and should be  0
Row 395 has been classified as  [0.] and should be  1
Row 407 has been classified as  [1.] and should be  0
Row 408 has been classified as  [1.] and should be  0
Row 414 has been classified as  [0.] and should be  1
Row 418 has been classified as  [1.] and should be  0
Row 443 has been classified as  [1.] and should be  0
Row 470 has been classified as  [1.] and should be  0
Row 477 has been classified as  [0.] and should be  1
Row 498 has been classified as  [0.] and should be  1
Row 500 has been classified as  [0.] and should be  1
Row 511 has been classified as  [1.] and should be  0
Row 551 has been classified as  [1.] and should be  0
Row 587 has been classified as  [0.] and should be  1
Row 599 has been classified as  [0.] and should be  1
Row 612 has been classified as  [1.] and should be  0
Row 617 has been classified as  [0.] and should be  1
Row 622 has been classified as  [1.] and should be  0
Row 624 has been classified as  [1.] and should be  0
Row 629 has been classified as  [1.] and should be  0
Row 636 has been classified as  [1.] and should be  0
Row 641 has been classified as  [0.] and should be  1
Row 647 has been classified as  [1.] and should be  0
Row 648 has been classified as  [1.] and should be  0
Row 652 has been classified as  [1.] and should be  0
Row 682 has been classified as  [0.] and should be  1
Row 712 has been classified as  [1.] and should be  0
Row 717 has been classified as  [0.] and should be  1
Row 722 has been classified as  [0.] and should be  1
Row 723 has been classified as  [1.] and should be  0
Row 733 has been classified as  [0.] and should be  1
Row 741 has been classified as  [0.] and should be  1
Row 767 has been classified as  [0.] and should be  1
Row 768 has been classified as  [0.] and should be  1
Row 771 has been classified as  [0.] and should be  1
Row 776 has been classified as  [1.] and should be  0
Row 790 has been classified as  [0.] and should be  1
Row 792 has been classified as  [1.] and should be  0
Row 808 has been classified as  [0.] and should be  1
Row 819 has been classified as  [1.] and should be  0
Row 821 has been classified as  [0.] and should be  1
Row 845 has been classified as  [0.] and should be  1
Row 854 has been classified as  [1.] and should be  0
Row 867 has been classified as  [1.] and should be  0
Row 877 has been classified as  [0.] and should be  1
Row 878 has been classified as  [0.] and should be  1
Row 896 has been classified as  [1.] and should be  0
Row 909 has been classified as  [0.] and should be  1
Row 932 has been classified as  [1.] and should be  0
Row 936 has been classified as  [1.] and should be  0
Row 939 has been classified as  [0.] and should be  1
Row 947 has been classified as  [1.] and should be  0
Row 948 has been classified as  [0.] and should be  1
Row 971 has been classified as  [0.] and should be  1
Row 972 has been classified as  [1.] and should be  0
Row 981 has been classified as  [0.] and should be  1
Row 989 has been classified as  [1.] and should be  0
Row 991 has been classified as  [1.] and should be  0
Row 993 has been classified as  [0.] and should be  1
Row 995 has been classified as  [1.] and should be  0
Row 1008 has been classified as  [0.] and should be  1
Row 1021 has been classified as  [0.] and should be  1
Row 1023 has been classified as  [1.] and should be  0
Row 1030 has been classified as  [1.] and should be  0
Row 1055 has been classified as  [0.] and should be  1
Row 1106 has been classified as  [0.] and should be  1
Row 1120 has been classified as  [0.] and should be  1
Row 1134 has been classified as  [0.] and should be  1
Row 1138 has been classified as  [1.] and should be  0
Row 1145 has been classified as  [0.] and should be  1
Row 1162 has been classified as  [0.] and should be  1
Row 1178 has been classified as  [1.] and should be  0
Row 1180 has been classified as  [1.] and should be  0
Row 1193 has been classified as  [0.] and should be  1
Row 1197 has been classified as  [1.] and should be  0
Row 1199 has been classified as  [0.] and should be  1
Row 1200 has been classified as  [1.] and should be  0
Row 1207 has been classified as  [0.] and should be  1
Row 1208 has been classified as  [0.] and should be  1
Row 1229 has been classified as  [0.] and should be  1
Row 1287 has been classified as  [1.] and should be  0
Row 1288 has been classified as  [1.] and should be  0
Row 1292 has been classified as  [0.] and should be  1
Row 1308 has been classified as  [0.] and should be  1
Row 1333 has been classified as  [0.] and should be  1
Row 1334 has been classified as  [0.] and should be  1
Row 1338 has been classified as  [0.] and should be  1
Row 1340 has been classified as  [0.] and should be  1
Row 1344 has been classified as  [1.] and should be  0
Row 1367 has been classified as  [0.] and should be  1
Row 1372 has been classified as  [0.] and should be  1
Row 1376 has been classified as  [0.] and should be  1
Row 1385 has been classified as  [0.] and should be  1
Row 1395 has been classified as  [1.] and should be  0
Row 1402 has been classified as  [0.] and should be  1
Row 1424 has been classified as  [1.] and should be  0
Row 1428 has been classified as  [0.] and should be  1
Row 1436 has been classified as  [1.] and should be  0
Row 1440 has been classified as  [0.] and should be  1
Row 1445 has been classified as  [0.] and should be  1
Row 1457 has been classified as  [0.] and should be  1
Row 1490 has been classified as  [0.] and should be  1
Row 1525 has been classified as  [0.] and should be  1
Row 1540 has been classified as  [0.] and should be  1
Row 1572 has been classified as  [0.] and should be  1
Row 1582 has been classified as  [1.] and should be  0
Row 1583 has been classified as  [1.] and should be  0
Row 1600 has been classified as  [1.] and should be  0
Row 1607 has been classified as  [1.] and should be  0
Row 1615 has been classified as  [1.] and should be  0
Row 1633 has been classified as  [0.] and should be  1
Row 1640 has been classified as  [0.] and should be  1
Row 1651 has been classified as  [0.] and should be  1
Row 1654 has been classified as  [1.] and should be  0
Row 1656 has been classified as  [1.] and should be  0
Row 1660 has been classified as  [0.] and should be  1
Row 1668 has been classified as  [1.] and should be  0
Row 1673 has been classified as  [0.] and should be  1
Row 1702 has been classified as  [0.] and should be  1
Row 1710 has been classified as  [0.] and should be  1
Row 1738 has been classified as  [0.] and should be  1
Row 1762 has been classified as  [1.] and should be  0
Row 1773 has been classified as  [1.] and should be  0
Row 1775 has been classified as  [1.] and should be  0
Row 1813 has been classified as  [1.] and should be  0
Row 1823 has been classified as  [0.] and should be  1
Row 1834 has been classified as  [1.] and should be  0
Row 1836 has been classified as  [1.] and should be  0
Row 1839 has been classified as  [1.] and should be  0
Row 1851 has been classified as  [0.] and should be  1
Row 1853 has been classified as  [1.] and should be  0
Row 1861 has been classified as  [1.] and should be  0
Row 1879 has been classified as  [1.] and should be  0
Row 1885 has been classified as  [0.] and should be  1
Row 1940 has been classified as  [1.] and should be  0
Row 1954 has been classified as  [0.] and should be  1
Row 1956 has been classified as  [1.] and should be  0
Row 1965 has been classified as  [0.] and should be  1
Row 2003 has been classified as  [1.] and should be  0
Row 2007 has been classified as  [1.] and should be  0
Row 2010 has been classified as  [1.] and should be  0
Row 2020 has been classified as  [0.] and should be  1
Row 2038 has been classified as  [0.] and should be  1
Row 2047 has been classified as  [0.] and should be  1
Row 2058 has been classified as  [0.] and should be  1
Row 2060 has been classified as  [1.] and should be  0
Row 2096 has been classified as  [1.] and should be  0
Row 2108 has been classified as  [1.] and should be  0
Row 2109 has been classified as  [0.] and should be  1
Row 2118 has been classified as  [0.] and should be  1
Row 2120 has been classified as  [0.] and should be  1
Row 2124 has been classified as  [1.] and should be  0
Row 2134 has been classified as  [1.] and should be  0
Row 2151 has been classified as  [0.] and should be  1
Row 2169 has been classified as  [0.] and should be  1
Row 2173 has been classified as  [0.] and should be  1
Row 2179 has been classified as  [0.] and should be  1
Row 2181 has been classified as  [0.] and should be  1
Row 2198 has been classified as  [1.] and should be  0
Row 2199 has been classified as  [1.] and should be  0
Row 2213 has been classified as  [1.] and should be  0
Row 2284 has been classified as  [0.] and should be  1
Row 2286 has been classified as  [0.] and should be  1
Row 2294 has been classified as  [1.] and should be  0
Row 2304 has been classified as  [0.] and should be  1
Row 2305 has been classified as  [0.] and should be  1
Row 2312 has been classified as  [1.] and should be  0
Row 2315 has been classified as  [0.] and should be  1
Row 2319 has been classified as  [0.] and should be  1
Row 2347 has been classified as  [1.] and should be  0
Row 2356 has been classified as  [1.] and should be  0
Row 2365 has been classified as  [0.] and should be  1
Row 2377 has been classified as  [0.] and should be  1
Row 2386 has been classified as  [0.] and should be  1
Row 2410 has been classified as  [0.] and should be  1
Row 2438 has been classified as  [1.] and should be  0
Row 2450 has been classified as  [0.] and should be  1
Row 2466 has been classified as  [1.] and should be  0
Row 2469 has been classified as  [0.] and should be  1
Row 2474 has been classified as  [1.] and should be  0
Row 2475 has been classified as  [0.] and should be  1
Row 2476 has been classified as  [0.] and should be  1
Row 2477 has been classified as  [1.] and should be  0
Row 2491 has been classified as  [0.] and should be  1
Row 2493 has been classified as  [0.] and should be  1
Row 2502 has been classified as  [0.] and should be  1
Row 2511 has been classified as  [0.] and should be  1
Row 2524 has been classified as  [0.] and should be  1
Row 2541 has been classified as  [0.] and should be  1
Row 2544 has been classified as  [0.] and should be  1
Row 2566 has been classified as  [0.] and should be  1
Row 2576 has been classified as  [1.] and should be  0
Row 2580 has been classified as  [1.] and should be  0
Row 2585 has been classified as  [0.] and should be  1
Row 2591 has been classified as  [0.] and should be  1
Row 2639 has been classified as  [1.] and should be  0
Row 2656 has been classified as  [1.] and should be  0
Row 2694 has been classified as  [1.] and should be  0
Row 2696 has been classified as  [1.] and should be  0
Row 2700 has been classified as  [1.] and should be  0
Row 2703 has been classified as  [1.] and should be  0
Row 2709 has been classified as  [0.] and should be  1
Row 2710 has been classified as  [0.] and should be  1
Row 2754 has been classified as  [0.] and should be  1
Row 2760 has been classified as  [0.] and should be  1
Row 2761 has been classified as  [1.] and should be  0
Row 2779 has been classified as  [1.] and should be  0
Row 2785 has been classified as  [1.] and should be  0
Row 2792 has been classified as  [0.] and should be  1
Row 2806 has been classified as  [0.] and should be  1
Row 2807 has been classified as  [1.] and should be  0
Row 2808 has been classified as  [0.] and should be  1
Row 2824 has been classified as  [1.] and should be  0
Row 2845 has been classified as  [0.] and should be  1
Row 2846 has been classified as  [0.] and should be  1
Row 2857 has been classified as  [1.] and should be  0
Row 2865 has been classified as  [0.] and should be  1
Row 2878 has been classified as  [0.] and should be  1
Row 2882 has been classified as  [1.] and should be  0
Row 2903 has been classified as  [1.] and should be  0
Row 2909 has been classified as  [1.] and should be  0
Row 2916 has been classified as  [0.] and should be  1
Row 2923 has been classified as  [0.] and should be  1
Row 2925 has been classified as  [1.] and should be  0
Row 2927 has been classified as  [0.] and should be  1
Row 2929 has been classified as  [0.] and should be  1
Row 2931 has been classified as  [1.] and should be  0
Row 2936 has been classified as  [0.] and should be  1
Row 2950 has been classified as  [0.] and should be  1
Row 2960 has been classified as  [0.] and should be  1
Row 2971 has been classified as  [1.] and should be  0
Row 2974 has been classified as  [1.] and should be  0
Row 2975 has been classified as  [0.] and should be  1
Row 2978 has been classified as  [0.] and should be  1
Row 2998 has been classified as  [1.] and should be  0
Row 3001 has been classified as  [1.] and should be  0
Row 3002 has been classified as  [1.] and should be  0
Row 3015 has been classified as  [0.] and should be  1
Row 3017 has been classified as  [1.] and should be  0
Row 3026 has been classified as  [1.] and should be  0
Row 3027 has been classified as  [1.] and should be  0
Row 3032 has been classified as  [1.] and should be  0
Row 3047 has been classified as  [1.] and should be  0
Row 3053 has been classified as  [0.] and should be  1
Row 3065 has been classified as  [1.] and should be  0
Row 3071 has been classified as  [0.] and should be  1
Row 3082 has been classified as  [0.] and should be  1
Row 3092 has been classified as  [0.] and should be  1
Row 3095 has been classified as  [1.] and should be  0
Row 3100 has been classified as  [0.] and should be  1
Row 3129 has been classified as  [0.] and should be  1
Row 3132 has been classified as  [1.] and should be  0
Row 3143 has been classified as  [0.] and should be  1
Row 3163 has been classified as  [1.] and should be  0
Row 3170 has been classified as  [0.] and should be  1
Row 3171 has been classified as  [0.] and should be  1
Row 3180 has been classified as  [1.] and should be  0

Row 3185 has been classified as  [1.] and should be  0
Row 3187 has been classified as  [0.] and should be  1
Row 3209 has been classified as  [0.] and should be  1
Row 3214 has been classified as  [0.] and should be  1
Row 3238 has been classified as  [0.] and should be  1
Row 3265 has been classified as  [1.] and should be  0
Row 3280 has been classified as  [1.] and should be  0
Row 3282 has been classified as  [0.] and should be  1
Row 3291 has been classified as  [0.] and should be  1
Row 3312 has been classified as  [0.] and should be  1
Row 3323 has been classified as  [0.] and should be  1
Row 3336 has been classified as  [1.] and should be  0
Row 3347 has been classified as  [0.] and should be  1
Row 3406 has been classified as  [1.] and should be  0
Row 3434 has been classified as  [0.] and should be  1
Row 3443 has been classified as  [0.] and should be  1
Row 3458 has been classified as  [0.] and should be  1
Row 3483 has been classified as  [0.] and should be  1
Row 3488 has been classified as  [1.] and should be  0
Row 3491 has been classified as  [0.] and should be  1
Row 3495 has been classified as  [1.] and should be  0
Row 3506 has been classified as  [1.] and should be  0
Row 3507 has been classified as  [1.] and should be  0
Row 3521 has been classified as  [1.] and should be  0
Row 3526 has been classified as  [1.] and should be  0
Row 3528 has been classified as  [1.] and should be  0
Row 3530 has been classified as  [0.] and should be  1
Row 3551 has been classified as  [1.] and should be  0
Row 3564 has been classified as  [0.] and should be  1
Row 3565 has been classified as  [1.] and should be  0
Row 3571 has been classified as  [0.] and should be  1
Row 3584 has been classified as  [0.] and should be  1
Row 3593 has been classified as  [0.] and should be  1
Row 3594 has been classified as  [0.] and should be  1
Row 3642 has been classified as  [1.] and should be  0
Row 3657 has been classified as  [0.] and should be  1
Row 3691 has been classified as  [1.] and should be  0
Row 3692 has been classified as  [0.] and should be  1
Row 3703 has been classified as  [1.] and should be  0
Row 3707 has been classified as  [1.] and should be  0
Row 3712 has been classified as  [1.] and should be  0
Row 3746 has been classified as  [1.] and should be  0
Row 3759 has been classified as  [0.] and should be  1
Row 3771 has been classified as  [1.] and should be  0
Row 3794 has been classified as  [0.] and should be  1
Row 3801 has been classified as  [1.] and should be  0
Row 3807 has been classified as  [1.] and should be  0
Row 3809 has been classified as  [0.] and should be  1
Row 3820 has been classified as  [1.] and should be  0
Row 3821 has been classified as  [0.] and should be  1
Row 3828 has been classified as  [1.] and should be  0
Row 3840 has been classified as  [0.] and should be  1
Row 3878 has been classified as  [1.] and should be  0
Row 3895 has been classified as  [1.] and should be  0
Row 3909 has been classified as  [1.] and should be  0
Row 3933 has been classified as  [1.] and should be  0
Row 3937 has been classified as  [1.] and should be  0
Row 3947 has been classified as  [0.] and should be  1
Row 3964 has been classified as  [0.] and should be  1
Row 3979 has been classified as  [1.] and should be  0
Row 3984 has been classified as  [0.] and should be  1
Row 3987 has been classified as  [0.] and should be  1
Row 3991 has been classified as  [0.] and should be  1
Row 4037 has been classified as  [1.] and should be  0
Row 4042 has been classified as  [0.] and should be  1
Row 4048 has been classified as  [1.] and should be  0
Row 4056 has been classified as  [1.] and should be  0
Row 4062 has been classified as  [1.] and should be  0
Row 4072 has been classified as  [1.] and should be  0
Row 4077 has been classified as  [1.] and should be  0
Row 4090 has been classified as  [1.] and should be  0
Row 4110 has been classified as  [0.] and should be  1
Row 4113 has been classified as  [1.] and should be  0
Row 4114 has been classified as  [0.] and should be  1
Row 4118 has been classified as  [0.] and should be  1
Row 4128 has been classified as  [0.] and should be  1
Row 4132 has been classified as  [0.] and should be  1
Row 4137 has been classified as  [0.] and should be  1
Row 4165 has been classified as  [1.] and should be  0
Row 4185 has been classified as  [1.] and should be  0
Row 4195 has been classified as  [1.] and should be  0

# Over Sample Minority

In [25]:
ros = RandomOverSampler()

X_train_over, y_train_over = ros.fit_resample(X_train_sc, y_train)

In [27]:
model = Sequential()
model.add(Dense(64, input_shape=(X_train_over.shape[1],), activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='bce', 
              optimizer='adam', 
              metrics=['accuracy'])

early_stop = EarlyStopping(monitor='val_loss', patience=10, verbose=1)

history = model.fit(
    X_train_over,
    y_train_over,
    validation_data=(X_test_sc, y_test),
    epochs=200,
    callbacks=[early_stop]
)

Epoch 1/200
754/754 [==============================] - 2s 2ms/step - loss: 0.0431 - accuracy: 0.9853 - val_loss: 0.0201 - val_accuracy: 0.9957
Epoch 2/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0085 - accuracy: 0.9983 - val_loss: 0.0196 - val_accuracy: 0.9967
Epoch 3/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0065 - accuracy: 0.9984 - val_loss: 0.0205 - val_accuracy: 0.9967
Epoch 4/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0058 - accuracy: 0.9989 - val_loss: 0.0202 - val_accuracy: 0.9971
Epoch 5/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0031 - accuracy: 0.9994 - val_loss: 0.0258 - val_accuracy: 0.9967
Epoch 6/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0031 - accuracy: 0.9993 - val_loss: 0.0313 - val_accuracy: 0.9964
Epoch 7/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0040 - accuracy: 0.9990 - val_loss: 0.0227 - val_accuracy: 0.9979
Epoch 8/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0022 - accuracy: 0.9996 - val_loss: 0.0266 - val_accuracy: 0.9974
Epoch 9/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0020 - accuracy: 0.9994 - val_loss: 0.0226 - val_accuracy: 0.9979
Epoch 10/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 0.9996 - val_loss: 0.0163 - val_accuracy: 0.9986
Epoch 11/200
754/754 [==============================] - 1s 2ms/step - loss: 8.2545e-04 - accuracy: 0.9997 - val_loss: 0.0257 - val_accuracy: 0.9981
Epoch 12/200
754/754 [==============================] - 1s 2ms/step - loss: 7.5412e-04 - accuracy: 0.9998 - val_loss: 0.0283 - val_accuracy: 0.9981
Epoch 13/200
754/754 [==============================] - 1s 2ms/step - loss: 3.7310e-04 - accuracy: 0.9999 - val_loss: 0.0359 - val_accuracy: 0.9986
Epoch 14/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0048 - accuracy: 0.9993 - val_loss: 0.0355 - val_accuracy: 0.9981
Epoch 15/200
754/754 [==============================] - 1s 2ms/step - loss: 3.3093e-04 - accuracy: 0.9999 - val_loss: 0.0341 - val_accuracy: 0.9983
Epoch 16/200
754/754 [==============================] - 1s 2ms/step - loss: 5.9860e-04 - accuracy: 0.9998 - val_loss: 0.0339 - val_accuracy: 0.9983
Epoch 17/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0016 - accuracy: 0.9998 - val_loss: 0.0374 - val_accuracy: 0.9983
Epoch 18/200
754/754 [==============================] - 1s 2ms/step - loss: 2.9210e-04 - accuracy: 0.9999 - val_loss: 0.0376 - val_accuracy: 0.9981
Epoch 19/200
754/754 [==============================] - 1s 2ms/step - loss: 8.0064e-04 - accuracy: 0.9998 - val_loss: 0.0362 - val_accuracy: 0.9981
Epoch 20/200
754/754 [==============================] - 1s 2ms/step - loss: 2.7000e-04 - accuracy: 0.9999 - val_loss: 0.0405 - val_accuracy: 0.9990
Epoch 00020: early stopping

#### Analysis 

Results: loss: 0.0081 - accuracy: 0.9983 - val_loss: 0.0173 - val_accuracy: 0.9983

This is still very wrong. There must be a variable giving it away.

In [29]:
preds = np.round(model.predict(X_test_sc),0)
tn, fp, fn, tp = metrics.confusion_matrix(y_test, preds).ravel()



df = pd.DataFrame(metrics.confusion_matrix(y_test, preds), 
                  columns=['predicted_no_prison', 'predicted_prison'], 
                  index=['actual_no_prison', 'actual_prison']
                 )
df

                  predicted_no_prison  predicted_prison
actual_no_prison                  186                 3
actual_prison                       1              4018

In [30]:
for row_index, (input, prediction, label) in enumerate(zip (X_test_sc_no_dem, preds, y_test)):
    if prediction != label:
        print('Row', row_index, 'has been classified as ', prediction, 'and should be ', label)

Row 624 has been classified as  [1.] and should be  0
Row 2108 has been classified as  [1.] and should be  0
Row 2476 has been classified as  [0.] and should be  1
Row 2696 has been classified as  [1.] and should be  0

## Without Demographic information

In [37]:
ros = RandomOverSampler()

X_train_no_dem_over, y_train_no_dem_over = ros.fit_resample(X_train_sc_no_dem, y_train_no_dem)

In [39]:
model = Sequential()
model.add(Dense(64, input_shape=(X_train_no_dem_over.shape[1],), activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='bce', 
              optimizer='adam', 
              metrics=['accuracy'])

early_stop = EarlyStopping(monitor='val_loss', patience=10, verbose=1)

history = model.fit(
    X_train_no_dem_over,
    y_train_no_dem_over,
    validation_data=(X_test_sc_no_dem, y_test_no_dem),
    epochs=200,
    callbacks=[early_stop]
)

Epoch 1/200
754/754 [==============================] - 2s 2ms/step - loss: 0.0409 - accuracy: 0.9861 - val_loss: 0.0096 - val_accuracy: 0.9981
Epoch 2/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0087 - accuracy: 0.9978 - val_loss: 0.0087 - val_accuracy: 0.9983
Epoch 3/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0053 - accuracy: 0.9990 - val_loss: 0.0106 - val_accuracy: 0.9986
Epoch 4/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0048 - accuracy: 0.9991 - val_loss: 0.0091 - val_accuracy: 0.9986
Epoch 5/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0106 - accuracy: 0.9990 - val_loss: 0.0084 - val_accuracy: 0.9986
Epoch 6/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0033 - accuracy: 0.9991 - val_loss: 0.0126 - val_accuracy: 0.9983
Epoch 7/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0023 - accuracy: 0.9995 - val_loss: 0.0128 - val_accuracy: 0.9983
Epoch 8/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 0.9995 - val_loss: 0.0140 - val_accuracy: 0.9981
Epoch 9/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0015 - accuracy: 0.9996 - val_loss: 0.0150 - val_accuracy: 0.9986
Epoch 10/200
754/754 [==============================] - 1s 2ms/step - loss: 4.6025e-04 - accuracy: 0.9998 - val_loss: 0.0189 - val_accuracy: 0.9986
Epoch 11/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0015 - accuracy: 0.9998 - val_loss: 0.0156 - val_accuracy: 0.9988
Epoch 12/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0017 - accuracy: 0.9999 - val_loss: 0.0192 - val_accuracy: 0.9986
Epoch 13/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0031 - accuracy: 0.9993 - val_loss: 0.0187 - val_accuracy: 0.9986
Epoch 14/200
754/754 [==============================] - 1s 2ms/step - loss: 4.2650e-04 - accuracy: 0.9998 - val_loss: 0.0167 - val_accuracy: 0.9986
Epoch 15/200
754/754 [==============================] - 1s 2ms/step - loss: 2.2071e-04 - accuracy: 1.0000 - val_loss: 0.0217 - val_accuracy: 0.9986
Epoch 00015: early stopping

#### Analysis:
Results: loss: 0.2942 - accuracy: 0.9568 - val_loss: 0.1175 - val_accuracy: 0.9665

As expected, a very accurate model. However, not a massive improvement over our null model and therefore likely suffering because of that imbalance.
> Interestingly, we do see a drop in accuracy after removing demographic information. However, the model is still suffering from the class imbalance and the accuracy was swinging from 95-99%.

In [40]:
preds = np.round(model.predict(X_test_sc_no_dem),0)
tn, fp, fn, tp = metrics.confusion_matrix(y_test_no_dem, preds).ravel()



df = pd.DataFrame(metrics.confusion_matrix(y_test_no_dem, preds), 
                  columns=['predicted_no_prison', 'predicted_prison'], 
                  index=['actual_no_prison', 'actual_prison']
                 )
df

                  predicted_no_prison  predicted_prison
actual_no_prison                  186                 3
actual_prison                       3              4016

In [18]:
for row_index, (input, prediction, label) in enumerate(zip (X_test_sc_no_dem, preds, y_test_no_dem)):
    if prediction != label:
        print('Row', row_index, 'has been classified as ', prediction, 'and should be ', label)

Row 4 has been classified as  [1.] and should be  0
Row 10 has been classified as  [1.] and should be  0
Row 17 has been classified as  [0.] and should be  1
Row 22 has been classified as  [1.] and should be  0
Row 27 has been classified as  [1.] and should be  0
Row 28 has been classified as  [0.] and should be  1
Row 31 has been classified as  [0.] and should be  1
Row 37 has been classified as  [0.] and should be  1
Row 52 has been classified as  [0.] and should be  1
Row 61 has been classified as  [1.] and should be  0
Row 104 has been classified as  [0.] and should be  1
Row 106 has been classified as  [1.] and should be  0
Row 107 has been classified as  [1.] and should be  0
Row 112 has been classified as  [0.] and should be  1
Row 122 has been classified as  [1.] and should be  0
Row 137 has been classified as  [1.] and should be  0
Row 150 has been classified as  [1.] and should be  0
Row 155 has been classified as  [1.] and should be  0
Row 156 has been classified as  [0.] and should be  1
Row 174 has been classified as  [1.] and should be  0
Row 192 has been classified as  [0.] and should be  1
Row 195 has been classified as  [0.] and should be  1
Row 196 has been classified as  [0.] and should be  1
Row 198 has been classified as  [0.] and should be  1
Row 204 has been classified as  [0.] and should be  1
Row 214 has been classified as  [0.] and should be  1
Row 219 has been classified as  [1.] and should be  0
Row 233 has been classified as  [0.] and should be  1
Row 247 has been classified as  [1.] and should be  0
Row 262 has been classified as  [1.] and should be  0
Row 264 has been classified as  [1.] and should be  0
Row 265 has been classified as  [0.] and should be  1
Row 271 has been classified as  [0.] and should be  1
Row 278 has been classified as  [1.] and should be  0
Row 280 has been classified as  [1.] and should be  0
Row 282 has been classified as  [1.] and should be  0
Row 293 has been classified as  [1.] and should be  0
Row 333 has been classified as  [1.] and should be  0
Row 337 has been classified as  [0.] and should be  1
Row 344 has been classified as  [0.] and should be  1
Row 358 has been classified as  [0.] and should be  1
Row 362 has been classified as  [0.] and should be  1
Row 372 has been classified as  [1.] and should be  0
Row 395 has been classified as  [0.] and should be  1
Row 407 has been classified as  [1.] and should be  0
Row 408 has been classified as  [1.] and should be  0
Row 414 has been classified as  [0.] and should be  1
Row 418 has been classified as  [1.] and should be  0
Row 443 has been classified as  [1.] and should be  0
Row 470 has been classified as  [1.] and should be  0
Row 477 has been classified as  [0.] and should be  1
Row 498 has been classified as  [0.] and should be  1
Row 500 has been classified as  [0.] and should be  1
Row 511 has been classified as  [1.] and should be  0
Row 551 has been classified as  [1.] and should be  0
Row 587 has been classified as  [0.] and should be  1
Row 599 has been classified as  [0.] and should be  1
Row 612 has been classified as  [1.] and should be  0
Row 617 has been classified as  [0.] and should be  1
Row 622 has been classified as  [1.] and should be  0
Row 624 has been classified as  [1.] and should be  0
Row 629 has been classified as  [1.] and should be  0
Row 636 has been classified as  [1.] and should be  0
Row 641 has been classified as  [0.] and should be  1
Row 647 has been classified as  [1.] and should be  0
Row 648 has been classified as  [1.] and should be  0
Row 652 has been classified as  [1.] and should be  0
Row 682 has been classified as  [0.] and should be  1
Row 712 has been classified as  [1.] and should be  0
Row 717 has been classified as  [0.] and should be  1
Row 722 has been classified as  [0.] and should be  1
Row 723 has been classified as  [1.] and should be  0
Row 733 has been classified as  [0.] and should be  1
Row 741 has been classified as  [0.] and should be  1
Row 767 has been classified as  [0.] and should be  1
Row 768 has been classified as  [0.] and should be  1
Row 771 has been classified as  [0.] and should be  1
Row 776 has been classified as  [1.] and should be  0
Row 790 has been classified as  [0.] and should be  1
Row 792 has been classified as  [1.] and should be  0
Row 808 has been classified as  [0.] and should be  1
Row 819 has been classified as  [1.] and should be  0
Row 821 has been classified as  [0.] and should be  1
Row 845 has been classified as  [0.] and should be  1
Row 854 has been classified as  [1.] and should be  0
Row 867 has been classified as  [1.] and should be  0
Row 877 has been classified as  [0.] and should be  1
Row 878 has been classified as  [0.] and should be  1
Row 896 has been classified as  [1.] and should be  0
Row 909 has been classified as  [0.] and should be  1
Row 932 has been classified as  [1.] and should be  0
Row 936 has been classified as  [1.] and should be  0
Row 939 has been classified as  [0.] and should be  1
Row 947 has been classified as  [1.] and should be  0
Row 948 has been classified as  [0.] and should be  1
Row 971 has been classified as  [0.] and should be  1
Row 972 has been classified as  [1.] and should be  0
Row 981 has been classified as  [0.] and should be  1
Row 989 has been classified as  [1.] and should be  0
Row 991 has been classified as  [1.] and should be  0
Row 993 has been classified as  [0.] and should be  1
Row 995 has been classified as  [1.] and should be  0
Row 1008 has been classified as  [0.] and should be  1
Row 1021 has been classified as  [0.] and should be  1
Row 1023 has been classified as  [1.] and should be  0
Row 1030 has been classified as  [1.] and should be  0
Row 1055 has been classified as  [0.] and should be  1
Row 1106 has been classified as  [0.] and should be  1
Row 1120 has been classified as  [0.] and should be  1
Row 1134 has been classified as  [0.] and should be  1
Row 1138 has been classified as  [1.] and should be  0
Row 1145 has been classified as  [0.] and should be  1
Row 1162 has been classified as  [0.] and should be  1
Row 1178 has been classified as  [1.] and should be  0
Row 1180 has been classified as  [1.] and should be  0
Row 1193 has been classified as  [0.] and should be  1
Row 1197 has been classified as  [1.] and should be  0
Row 1199 has been classified as  [0.] and should be  1
Row 1200 has been classified as  [1.] and should be  0
Row 1207 has been classified as  [0.] and should be  1
Row 1208 has been classified as  [0.] and should be  1
Row 1229 has been classified as  [0.] and should be  1
Row 1287 has been classified as  [1.] and should be  0
Row 1288 has been classified as  [1.] and should be  0
Row 1292 has been classified as  [0.] and should be  1
Row 1308 has been classified as  [0.] and should be  1
Row 1333 has been classified as  [0.] and should be  1
Row 1334 has been classified as  [0.] and should be  1
Row 1338 has been classified as  [0.] and should be  1
Row 1340 has been classified as  [0.] and should be  1
Row 1344 has been classified as  [1.] and should be  0
Row 1367 has been classified as  [0.] and should be  1
Row 1372 has been classified as  [0.] and should be  1
Row 1376 has been classified as  [0.] and should be  1
Row 1385 has been classified as  [0.] and should be  1
Row 1395 has been classified as  [1.] and should be  0
Row 1402 has been classified as  [0.] and should be  1
Row 1424 has been classified as  [1.] and should be  0
Row 1428 has been classified as  [0.] and should be  1
Row 1436 has been classified as  [1.] and should be  0
Row 1440 has been classified as  [0.] and should be  1
Row 1445 has been classified as  [0.] and should be  1
Row 1457 has been classified as  [0.] and should be  1
Row 1490 has been classified as  [0.] and should be  1
Row 1525 has been classified as  [0.] and should be  1
Row 1540 has been classified as  [0.] and should be  1
Row 1572 has been classified as  [0.] and should be  1
Row 1582 has been classified as  [1.] and should be  0
Row 1583 has been classified as  [1.] and should be  0
Row 1600 has been classified as  [1.] and should be  0
Row 1607 has been classified as  [1.] and should be  0
Row 1615 has been classified as  [1.] and should be  0
Row 1633 has been classified as  [0.] and should be  1
Row 1640 has been classified as  [0.] and should be  1
Row 1651 has been classified as  [0.] and should be  1
Row 1654 has been classified as  [1.] and should be  0
Row 1656 has been classified as  [1.] and should be  0
Row 1660 has been classified as  [0.] and should be  1
Row 1668 has been classified as  [1.] and should be  0
Row 1673 has been classified as  [0.] and should be  1
Row 1702 has been classified as  [0.] and should be  1
Row 1710 has been classified as  [0.] and should be  1
Row 1738 has been classified as  [0.] and should be  1
Row 1762 has been classified as  [1.] and should be  0
Row 1773 has been classified as  [1.] and should be  0
Row 1775 has been classified as  [1.] and should be  0
Row 1813 has been classified as  [1.] and should be  0
Row 1823 has been classified as  [0.] and should be  1
Row 1834 has been classified as  [1.] and should be  0
Row 1836 has been classified as  [1.] and should be  0
Row 1839 has been classified as  [1.] and should be  0
Row 1851 has been classified as  [0.] and should be  1
Row 1853 has been classified as  [1.] and should be  0
Row 1861 has been classified as  [1.] and should be  0
Row 1879 has been classified as  [1.] and should be  0
Row 1885 has been classified as  [0.] and should be  1
Row 1940 has been classified as  [1.] and should be  0
Row 1954 has been classified as  [0.] and should be  1
Row 1956 has been classified as  [1.] and should be  0
Row 1965 has been classified as  [0.] and should be  1
Row 2003 has been classified as  [1.] and should be  0
Row 2007 has been classified as  [1.] and should be  0
Row 2010 has been classified as  [1.] and should be  0
Row 2020 has been classified as  [0.] and should be  1
Row 2038 has been classified as  [0.] and should be  1
Row 2047 has been classified as  [0.] and should be  1
Row 2058 has been classified as  [0.] and should be  1
Row 2060 has been classified as  [1.] and should be  0
Row 2096 has been classified as  [1.] and should be  0
Row 2108 has been classified as  [1.] and should be  0
Row 2109 has been classified as  [0.] and should be  1
Row 2118 has been classified as  [0.] and should be  1
Row 2120 has been classified as  [0.] and should be  1
Row 2124 has been classified as  [1.] and should be  0
Row 2134 has been classified as  [1.] and should be  0
Row 2151 has been classified as  [0.] and should be  1
Row 2169 has been classified as  [0.] and should be  1
Row 2173 has been classified as  [0.] and should be  1
Row 2179 has been classified as  [0.] and should be  1
Row 2181 has been classified as  [0.] and should be  1
Row 2198 has been classified as  [1.] and should be  0
Row 2199 has been classified as  [1.] and should be  0
Row 2213 has been classified as  [1.] and should be  0
Row 2284 has been classified as  [0.] and should be  1
Row 2286 has been classified as  [0.] and should be  1
Row 2294 has been classified as  [1.] and should be  0
Row 2304 has been classified as  [0.] and should be  1
Row 2305 has been classified as  [0.] and should be  1
Row 2312 has been classified as  [1.] and should be  0
Row 2315 has been classified as  [0.] and should be  1
Row 2319 has been classified as  [0.] and should be  1
Row 2347 has been classified as  [1.] and should be  0
Row 2356 has been classified as  [1.] and should be  0
Row 2365 has been classified as  [0.] and should be  1
Row 2377 has been classified as  [0.] and should be  1
Row 2386 has been classified as  [0.] and should be  1
Row 2410 has been classified as  [0.] and should be  1
Row 2438 has been classified as  [1.] and should be  0
Row 2450 has been classified as  [0.] and should be  1
Row 2466 has been classified as  [1.] and should be  0
Row 2469 has been classified as  [0.] and should be  1
Row 2474 has been classified as  [1.] and should be  0
Row 2475 has been classified as  [0.] and should be  1
Row 2476 has been classified as  [0.] and should be  1
Row 2477 has been classified as  [1.] and should be  0
Row 2491 has been classified as  [0.] and should be  1
Row 2493 has been classified as  [0.] and should be  1
Row 2502 has been classified as  [0.] and should be  1
Row 2511 has been classified as  [0.] and should be  1
Row 2524 has been classified as  [0.] and should be  1
Row 2541 has been classified as  [0.] and should be  1
Row 2544 has been classified as  [0.] and should be  1
Row 2566 has been classified as  [0.] and should be  1
Row 2576 has been classified as  [1.] and should be  0
Row 2580 has been classified as  [1.] and should be  0
Row 2585 has been classified as  [0.] and should be  1
Row 2591 has been classified as  [0.] and should be  1
Row 2639 has been classified as  [1.] and should be  0
Row 2656 has been classified as  [1.] and should be  0
Row 2694 has been classified as  [1.] and should be  0
Row 2696 has been classified as  [1.] and should be  0
Row 2700 has been classified as  [1.] and should be  0
Row 2703 has been classified as  [1.] and should be  0
Row 2709 has been classified as  [0.] and should be  1
Row 2710 has been classified as  [0.] and should be  1
Row 2754 has been classified as  [0.] and should be  1
Row 2760 has been classified as  [0.] and should be  1
Row 2761 has been classified as  [1.] and should be  0
Row 2779 has been classified as  [1.] and should be  0
Row 2785 has been classified as  [1.] and should be  0
Row 2792 has been classified as  [0.] and should be  1
Row 2806 has been classified as  [0.] and should be  1
Row 2807 has been classified as  [1.] and should be  0
Row 2808 has been classified as  [0.] and should be  1
Row 2824 has been classified as  [1.] and should be  0
Row 2845 has been classified as  [0.] and should be  1
Row 2846 has been classified as  [0.] and should be  1
Row 2857 has been classified as  [1.] and should be  0
Row 2865 has been classified as  [0.] and should be  1
Row 2878 has been classified as  [0.] and should be  1
Row 2882 has been classified as  [1.] and should be  0
Row 2903 has been classified as  [1.] and should be  0
Row 2909 has been classified as  [1.] and should be  0
Row 2916 has been classified as  [0.] and should be  1
Row 2923 has been classified as  [0.] and should be  1
Row 2925 has been classified as  [1.] and should be  0
Row 2927 has been classified as  [0.] and should be  1
Row 2929 has been classified as  [0.] and should be  1
Row 2931 has been classified as  [1.] and should be  0
Row 2936 has been classified as  [0.] and should be  1
Row 2950 has been classified as  [0.] and should be  1
Row 2960 has been classified as  [0.] and should be  1
Row 2971 has been classified as  [1.] and should be  0
Row 2974 has been classified as  [1.] and should be  0
Row 2975 has been classified as  [0.] and should be  1
Row 2978 has been classified as  [0.] and should be  1
Row 2998 has been classified as  [1.] and should be  0
Row 3001 has been classified as  [1.] and should be  0
Row 3002 has been classified as  [1.] and should be  0
Row 3015 has been classified as  [0.] and should be  1
Row 3017 has been classified as  [1.] and should be  0
Row 3026 has been classified as  [1.] and should be  0
Row 3027 has been classified as  [1.] and should be  0
Row 3032 has been classified as  [1.] and should be  0
Row 3047 has been classified as  [1.] and should be  0
Row 3053 has been classified as  [0.] and should be  1
Row 3065 has been classified as  [1.] and should be  0
Row 3071 has been classified as  [0.] and should be  1
Row 3082 has been classified as  [0.] and should be  1
Row 3092 has been classified as  [0.] and should be  1
Row 3095 has been classified as  [1.] and should be  0
Row 3100 has been classified as  [0.] and should be  1
Row 3129 has been classified as  [0.] and should be  1
Row 3132 has been classified as  [1.] and should be  0
Row 3143 has been classified as  [0.] and should be  1
Row 3163 has been classified as  [1.] and should be  0
Row 3170 has been classified as  [0.] and should be  1
Row 3171 has been classified as  [0.] and should be  1
Row 3180 has been classified as  [1.] and should be  0

Row 3185 has been classified as  [1.] and should be  0
Row 3187 has been classified as  [0.] and should be  1
Row 3209 has been classified as  [0.] and should be  1
Row 3214 has been classified as  [0.] and should be  1
Row 3238 has been classified as  [0.] and should be  1
Row 3265 has been classified as  [1.] and should be  0
Row 3280 has been classified as  [1.] and should be  0
Row 3282 has been classified as  [0.] and should be  1
Row 3291 has been classified as  [0.] and should be  1
Row 3312 has been classified as  [0.] and should be  1
Row 3323 has been classified as  [0.] and should be  1
Row 3336 has been classified as  [1.] and should be  0
Row 3347 has been classified as  [0.] and should be  1
Row 3406 has been classified as  [1.] and should be  0
Row 3434 has been classified as  [0.] and should be  1
Row 3443 has been classified as  [0.] and should be  1
Row 3458 has been classified as  [0.] and should be  1
Row 3483 has been classified as  [0.] and should be  1
Row 3488 has been classified as  [1.] and should be  0
Row 3491 has been classified as  [0.] and should be  1
Row 3495 has been classified as  [1.] and should be  0
Row 3506 has been classified as  [1.] and should be  0
Row 3507 has been classified as  [1.] and should be  0
Row 3521 has been classified as  [1.] and should be  0
Row 3526 has been classified as  [1.] and should be  0
Row 3528 has been classified as  [1.] and should be  0
Row 3530 has been classified as  [0.] and should be  1
Row 3551 has been classified as  [1.] and should be  0
Row 3564 has been classified as  [0.] and should be  1
Row 3565 has been classified as  [1.] and should be  0
Row 3571 has been classified as  [0.] and should be  1
Row 3584 has been classified as  [0.] and should be  1
Row 3593 has been classified as  [0.] and should be  1
Row 3594 has been classified as  [0.] and should be  1
Row 3642 has been classified as  [1.] and should be  0
Row 3657 has been classified as  [0.] and should be  1
Row 3691 has been classified as  [1.] and should be  0
Row 3692 has been classified as  [0.] and should be  1
Row 3703 has been classified as  [1.] and should be  0
Row 3707 has been classified as  [1.] and should be  0
Row 3712 has been classified as  [1.] and should be  0
Row 3746 has been classified as  [1.] and should be  0
Row 3759 has been classified as  [0.] and should be  1
Row 3771 has been classified as  [1.] and should be  0
Row 3794 has been classified as  [0.] and should be  1
Row 3801 has been classified as  [1.] and should be  0
Row 3807 has been classified as  [1.] and should be  0
Row 3809 has been classified as  [0.] and should be  1
Row 3820 has been classified as  [1.] and should be  0
Row 3821 has been classified as  [0.] and should be  1
Row 3828 has been classified as  [1.] and should be  0
Row 3840 has been classified as  [0.] and should be  1
Row 3878 has been classified as  [1.] and should be  0
Row 3895 has been classified as  [1.] and should be  0
Row 3909 has been classified as  [1.] and should be  0
Row 3933 has been classified as  [1.] and should be  0
Row 3937 has been classified as  [1.] and should be  0
Row 3947 has been classified as  [0.] and should be  1
Row 3964 has been classified as  [0.] and should be  1
Row 3979 has been classified as  [1.] and should be  0
Row 3984 has been classified as  [0.] and should be  1
Row 3987 has been classified as  [0.] and should be  1
Row 3991 has been classified as  [0.] and should be  1
Row 4037 has been classified as  [1.] and should be  0
Row 4042 has been classified as  [0.] and should be  1
Row 4048 has been classified as  [1.] and should be  0
Row 4056 has been classified as  [1.] and should be  0
Row 4062 has been classified as  [1.] and should be  0
Row 4072 has been classified as  [1.] and should be  0
Row 4077 has been classified as  [1.] and should be  0
Row 4090 has been classified as  [1.] and should be  0
Row 4110 has been classified as  [0.] and should be  1
Row 4113 has been classified as  [1.] and should be  0
Row 4114 has been classified as  [0.] and should be  1
Row 4118 has been classified as  [0.] and should be  1
Row 4128 has been classified as  [0.] and should be  1
Row 4132 has been classified as  [0.] and should be  1
Row 4137 has been classified as  [0.] and should be  1
Row 4165 has been classified as  [1.] and should be  0
Row 4185 has been classified as  [1.] and should be  0
Row 4195 has been classified as  [1.] and should be  0

### SMOTE (honestly don't know what it stands for)

In [32]:
smo = SMOTE()

X_train_smote, y_train_smote = smo.fit_resample(X_train_sc, y_train)

In [33]:
model = Sequential()
model.add(Dense(64, input_shape=(X_train_smote.shape[1],), activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='bce', 
              optimizer='adam', 
              metrics=['accuracy'])

early_stop = EarlyStopping(monitor='val_loss', patience=10, verbose=1)

history = model.fit(
    X_train_smote,
    y_train_smote,
    validation_data=(X_test_sc, y_test),
    epochs=200,
    callbacks=[early_stop]
)

Epoch 1/200
754/754 [==============================] - 2s 2ms/step - loss: 0.0314 - accuracy: 0.9906 - val_loss: 0.0235 - val_accuracy: 0.9964
Epoch 2/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0075 - accuracy: 0.9983 - val_loss: 0.0214 - val_accuracy: 0.9979
Epoch 3/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0072 - accuracy: 0.9989 - val_loss: 0.0236 - val_accuracy: 0.9976
Epoch 4/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0042 - accuracy: 0.9993 - val_loss: 0.0190 - val_accuracy: 0.9981
Epoch 5/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0027 - accuracy: 0.9995 - val_loss: 0.0270 - val_accuracy: 0.9969
Epoch 6/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0019 - accuracy: 0.9996 - val_loss: 0.0206 - val_accuracy: 0.9983
Epoch 7/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0018 - accuracy: 0.9995 - val_loss: 0.0232 - val_accuracy: 0.9981
Epoch 8/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0021 - accuracy: 0.9995 - val_loss: 0.0184 - val_accuracy: 0.9986
Epoch 9/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0016 - accuracy: 0.9995 - val_loss: 0.0226 - val_accuracy: 0.9983
Epoch 10/200
754/754 [==============================] - 1s 2ms/step - loss: 9.3804e-04 - accuracy: 0.9998 - val_loss: 0.0230 - val_accuracy: 0.9983
Epoch 11/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0013 - accuracy: 0.9997 - val_loss: 0.0264 - val_accuracy: 0.9986
Epoch 12/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0020 - accuracy: 0.9997 - val_loss: 0.0265 - val_accuracy: 0.9986
Epoch 13/200
754/754 [==============================] - 1s 2ms/step - loss: 9.0306e-04 - accuracy: 0.9997 - val_loss: 0.0291 - val_accuracy: 0.9969
Epoch 14/200
754/754 [==============================] - 1s 2ms/step - loss: 5.6365e-04 - accuracy: 0.9998 - val_loss: 0.0246 - val_accuracy: 0.9986
Epoch 15/200
754/754 [==============================] - 1s 2ms/step - loss: 3.6383e-04 - accuracy: 0.9999 - val_loss: 0.0276 - val_accuracy: 0.9983
Epoch 16/200
754/754 [==============================] - 1s 2ms/step - loss: 3.8756e-04 - accuracy: 0.9999 - val_loss: 0.0277 - val_accuracy: 0.9983
Epoch 17/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0014 - accuracy: 0.9998 - val_loss: 0.0230 - val_accuracy: 0.9988TA: 0s - loss: 7.3
Epoch 18/200
754/754 [==============================] - 1s 2ms/step - loss: 2.7963e-04 - accuracy: 0.9999 - val_loss: 0.0290 - val_accuracy: 0.9988
Epoch 00018: early stopping

#### Analysis 

Results: loss: 0.0049 - accuracy: 0.9990 - val_loss: 0.0350 - val_accuracy: 0.9986

This is still very wrong. There must be a variable giving it away.

In [34]:
preds = np.round(model.predict(X_test_sc),0)
tn, fp, fn, tp = metrics.confusion_matrix(y_test, preds).ravel()



df = pd.DataFrame(metrics.confusion_matrix(y_test, preds), 
                  columns=['predicted_no_prison', 'predicted_prison'], 
                  index=['actual_no_prison', 'actual_prison']
                 )
df

                  predicted_no_prison  predicted_prison
actual_no_prison                  186                 3
actual_prison                       2              4017

In [35]:
for row_index, (input, prediction, label) in enumerate(zip (X_test_sc_no_dem, preds, y_test)):
    if prediction != label:
        print('Row', row_index, 'has been classified as ', prediction, 'and should be ', label)

Row 624 has been classified as  [1.] and should be  0
Row 2108 has been classified as  [1.] and should be  0
Row 2476 has been classified as  [0.] and should be  1
Row 2696 has been classified as  [1.] and should be  0
Row 2899 has been classified as  [0.] and should be  1

## Without Demographic information

In [37]:
ros = RandomOverSampler()

X_train_no_dem_over, y_train_no_dem_over = ros.fit_resample(X_train_sc_no_dem, y_train_no_dem)

In [39]:
model = Sequential()
model.add(Dense(64, input_shape=(X_train_no_dem_over.shape[1],), activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='bce', 
              optimizer='adam', 
              metrics=['accuracy'])

early_stop = EarlyStopping(monitor='val_loss', patience=10, verbose=1)

history = model.fit(
    X_train_no_dem_over,
    y_train_no_dem_over,
    validation_data=(X_test_sc_no_dem, y_test_no_dem),
    epochs=200,
    callbacks=[early_stop]
)

Epoch 1/200
754/754 [==============================] - 2s 2ms/step - loss: 0.0409 - accuracy: 0.9861 - val_loss: 0.0096 - val_accuracy: 0.9981
Epoch 2/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0087 - accuracy: 0.9978 - val_loss: 0.0087 - val_accuracy: 0.9983
Epoch 3/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0053 - accuracy: 0.9990 - val_loss: 0.0106 - val_accuracy: 0.9986
Epoch 4/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0048 - accuracy: 0.9991 - val_loss: 0.0091 - val_accuracy: 0.9986
Epoch 5/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0106 - accuracy: 0.9990 - val_loss: 0.0084 - val_accuracy: 0.9986
Epoch 6/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0033 - accuracy: 0.9991 - val_loss: 0.0126 - val_accuracy: 0.9983
Epoch 7/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0023 - accuracy: 0.9995 - val_loss: 0.0128 - val_accuracy: 0.9983
Epoch 8/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0012 - accuracy: 0.9995 - val_loss: 0.0140 - val_accuracy: 0.9981
Epoch 9/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0015 - accuracy: 0.9996 - val_loss: 0.0150 - val_accuracy: 0.9986
Epoch 10/200
754/754 [==============================] - 1s 2ms/step - loss: 4.6025e-04 - accuracy: 0.9998 - val_loss: 0.0189 - val_accuracy: 0.9986
Epoch 11/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0015 - accuracy: 0.9998 - val_loss: 0.0156 - val_accuracy: 0.9988
Epoch 12/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0017 - accuracy: 0.9999 - val_loss: 0.0192 - val_accuracy: 0.9986
Epoch 13/200
754/754 [==============================] - 1s 2ms/step - loss: 0.0031 - accuracy: 0.9993 - val_loss: 0.0187 - val_accuracy: 0.9986
Epoch 14/200
754/754 [==============================] - 1s 2ms/step - loss: 4.2650e-04 - accuracy: 0.9998 - val_loss: 0.0167 - val_accuracy: 0.9986
Epoch 15/200
754/754 [==============================] - 1s 2ms/step - loss: 2.2071e-04 - accuracy: 1.0000 - val_loss: 0.0217 - val_accuracy: 0.9986
Epoch 00015: early stopping

#### Analysis:
Results: loss: 0.2942 - accuracy: 0.9568 - val_loss: 0.1175 - val_accuracy: 0.9665

As expected, a very accurate model. However, not a massive improvement over our null model and therefore likely suffering because of that imbalance.
> Interestingly, we do see a drop in accuracy after removing demographic information. However, the model is still suffering from the class imbalance and the accuracy was swinging from 95-99%.

In [40]:
preds = np.round(model.predict(X_test_sc_no_dem),0)
tn, fp, fn, tp = metrics.confusion_matrix(y_test_no_dem, preds).ravel()



df = pd.DataFrame(metrics.confusion_matrix(y_test_no_dem, preds), 
                  columns=['predicted_no_prison', 'predicted_prison'], 
                  index=['actual_no_prison', 'actual_prison']
                 )
df

                  predicted_no_prison  predicted_prison
actual_no_prison                  186                 3
actual_prison                       3              4016

In [18]:
for row_index, (input, prediction, label) in enumerate(zip (X_test_sc_no_dem, preds, y_test_no_dem)):
    if prediction != label:
        print('Row', row_index, 'has been classified as ', prediction, 'and should be ', label)

Row 4 has been classified as  [1.] and should be  0
Row 10 has been classified as  [1.] and should be  0
Row 17 has been classified as  [0.] and should be  1
Row 22 has been classified as  [1.] and should be  0
Row 27 has been classified as  [1.] and should be  0
Row 28 has been classified as  [0.] and should be  1
Row 31 has been classified as  [0.] and should be  1
Row 37 has been classified as  [0.] and should be  1
Row 52 has been classified as  [0.] and should be  1
Row 61 has been classified as  [1.] and should be  0
Row 104 has been classified as  [0.] and should be  1
Row 106 has been classified as  [1.] and should be  0
Row 107 has been classified as  [1.] and should be  0
Row 112 has been classified as  [0.] and should be  1
Row 122 has been classified as  [1.] and should be  0
Row 137 has been classified as  [1.] and should be  0
Row 150 has been classified as  [1.] and should be  0
Row 155 has been classified as  [1.] and should be  0
Row 156 has been classified as  [0.] and should be  1
Row 174 has been classified as  [1.] and should be  0
Row 192 has been classified as  [0.] and should be  1
Row 195 has been classified as  [0.] and should be  1
Row 196 has been classified as  [0.] and should be  1
Row 198 has been classified as  [0.] and should be  1
Row 204 has been classified as  [0.] and should be  1
Row 214 has been classified as  [0.] and should be  1
Row 219 has been classified as  [1.] and should be  0
Row 233 has been classified as  [0.] and should be  1
Row 247 has been classified as  [1.] and should be  0
Row 262 has been classified as  [1.] and should be  0
Row 264 has been classified as  [1.] and should be  0
Row 265 has been classified as  [0.] and should be  1
Row 271 has been classified as  [0.] and should be  1
Row 278 has been classified as  [1.] and should be  0
Row 280 has been classified as  [1.] and should be  0
Row 282 has been classified as  [1.] and should be  0
Row 293 has been classified as  [1.] and should be  0
Row 333 has been classified as  [1.] and should be  0
Row 337 has been classified as  [0.] and should be  1
Row 344 has been classified as  [0.] and should be  1
Row 358 has been classified as  [0.] and should be  1
Row 362 has been classified as  [0.] and should be  1
Row 372 has been classified as  [1.] and should be  0
Row 395 has been classified as  [0.] and should be  1
Row 407 has been classified as  [1.] and should be  0
Row 408 has been classified as  [1.] and should be  0
Row 414 has been classified as  [0.] and should be  1
Row 418 has been classified as  [1.] and should be  0
Row 443 has been classified as  [1.] and should be  0
Row 470 has been classified as  [1.] and should be  0
Row 477 has been classified as  [0.] and should be  1
Row 498 has been classified as  [0.] and should be  1
Row 500 has been classified as  [0.] and should be  1
Row 511 has been classified as  [1.] and should be  0
Row 551 has been classified as  [1.] and should be  0
Row 587 has been classified as  [0.] and should be  1
Row 599 has been classified as  [0.] and should be  1
Row 612 has been classified as  [1.] and should be  0
Row 617 has been classified as  [0.] and should be  1
Row 622 has been classified as  [1.] and should be  0
Row 624 has been classified as  [1.] and should be  0
Row 629 has been classified as  [1.] and should be  0
Row 636 has been classified as  [1.] and should be  0
Row 641 has been classified as  [0.] and should be  1
Row 647 has been classified as  [1.] and should be  0
Row 648 has been classified as  [1.] and should be  0
Row 652 has been classified as  [1.] and should be  0
Row 682 has been classified as  [0.] and should be  1
Row 712 has been classified as  [1.] and should be  0
Row 717 has been classified as  [0.] and should be  1
Row 722 has been classified as  [0.] and should be  1
Row 723 has been classified as  [1.] and should be  0
Row 733 has been classified as  [0.] and should be  1
Row 741 has been classified as  [0.] and should be  1
Row 767 has been classified as  [0.] and should be  1
Row 768 has been classified as  [0.] and should be  1
Row 771 has been classified as  [0.] and should be  1
Row 776 has been classified as  [1.] and should be  0
Row 790 has been classified as  [0.] and should be  1
Row 792 has been classified as  [1.] and should be  0
Row 808 has been classified as  [0.] and should be  1
Row 819 has been classified as  [1.] and should be  0
Row 821 has been classified as  [0.] and should be  1
Row 845 has been classified as  [0.] and should be  1
Row 854 has been classified as  [1.] and should be  0
Row 867 has been classified as  [1.] and should be  0
Row 877 has been classified as  [0.] and should be  1
Row 878 has been classified as  [0.] and should be  1
Row 896 has been classified as  [1.] and should be  0
Row 909 has been classified as  [0.] and should be  1
Row 932 has been classified as  [1.] and should be  0
Row 936 has been classified as  [1.] and should be  0
Row 939 has been classified as  [0.] and should be  1
Row 947 has been classified as  [1.] and should be  0
Row 948 has been classified as  [0.] and should be  1
Row 971 has been classified as  [0.] and should be  1
Row 972 has been classified as  [1.] and should be  0
Row 981 has been classified as  [0.] and should be  1
Row 989 has been classified as  [1.] and should be  0
Row 991 has been classified as  [1.] and should be  0
Row 993 has been classified as  [0.] and should be  1
Row 995 has been classified as  [1.] and should be  0
Row 1008 has been classified as  [0.] and should be  1
Row 1021 has been classified as  [0.] and should be  1
Row 1023 has been classified as  [1.] and should be  0
Row 1030 has been classified as  [1.] and should be  0
Row 1055 has been classified as  [0.] and should be  1
Row 1106 has been classified as  [0.] and should be  1
Row 1120 has been classified as  [0.] and should be  1
Row 1134 has been classified as  [0.] and should be  1
Row 1138 has been classified as  [1.] and should be  0
Row 1145 has been classified as  [0.] and should be  1
Row 1162 has been classified as  [0.] and should be  1
Row 1178 has been classified as  [1.] and should be  0
Row 1180 has been classified as  [1.] and should be  0
Row 1193 has been classified as  [0.] and should be  1
Row 1197 has been classified as  [1.] and should be  0
Row 1199 has been classified as  [0.] and should be  1
Row 1200 has been classified as  [1.] and should be  0
Row 1207 has been classified as  [0.] and should be  1
Row 1208 has been classified as  [0.] and should be  1
Row 1229 has been classified as  [0.] and should be  1
Row 1287 has been classified as  [1.] and should be  0
Row 1288 has been classified as  [1.] and should be  0
Row 1292 has been classified as  [0.] and should be  1
Row 1308 has been classified as  [0.] and should be  1
Row 1333 has been classified as  [0.] and should be  1
Row 1334 has been classified as  [0.] and should be  1
Row 1338 has been classified as  [0.] and should be  1
Row 1340 has been classified as  [0.] and should be  1
Row 1344 has been classified as  [1.] and should be  0
Row 1367 has been classified as  [0.] and should be  1
Row 1372 has been classified as  [0.] and should be  1
Row 1376 has been classified as  [0.] and should be  1
Row 1385 has been classified as  [0.] and should be  1
Row 1395 has been classified as  [1.] and should be  0
Row 1402 has been classified as  [0.] and should be  1
Row 1424 has been classified as  [1.] and should be  0
Row 1428 has been classified as  [0.] and should be  1
Row 1436 has been classified as  [1.] and should be  0
Row 1440 has been classified as  [0.] and should be  1
Row 1445 has been classified as  [0.] and should be  1
Row 1457 has been classified as  [0.] and should be  1
Row 1490 has been classified as  [0.] and should be  1
Row 1525 has been classified as  [0.] and should be  1
Row 1540 has been classified as  [0.] and should be  1
Row 1572 has been classified as  [0.] and should be  1
Row 1582 has been classified as  [1.] and should be  0
Row 1583 has been classified as  [1.] and should be  0
Row 1600 has been classified as  [1.] and should be  0
Row 1607 has been classified as  [1.] and should be  0
Row 1615 has been classified as  [1.] and should be  0
Row 1633 has been classified as  [0.] and should be  1
Row 1640 has been classified as  [0.] and should be  1
Row 1651 has been classified as  [0.] and should be  1
Row 1654 has been classified as  [1.] and should be  0
Row 1656 has been classified as  [1.] and should be  0
Row 1660 has been classified as  [0.] and should be  1
Row 1668 has been classified as  [1.] and should be  0
Row 1673 has been classified as  [0.] and should be  1
Row 1702 has been classified as  [0.] and should be  1
Row 1710 has been classified as  [0.] and should be  1
Row 1738 has been classified as  [0.] and should be  1
Row 1762 has been classified as  [1.] and should be  0
Row 1773 has been classified as  [1.] and should be  0
Row 1775 has been classified as  [1.] and should be  0
Row 1813 has been classified as  [1.] and should be  0
Row 1823 has been classified as  [0.] and should be  1
Row 1834 has been classified as  [1.] and should be  0
Row 1836 has been classified as  [1.] and should be  0
Row 1839 has been classified as  [1.] and should be  0
Row 1851 has been classified as  [0.] and should be  1
Row 1853 has been classified as  [1.] and should be  0
Row 1861 has been classified as  [1.] and should be  0
Row 1879 has been classified as  [1.] and should be  0
Row 1885 has been classified as  [0.] and should be  1
Row 1940 has been classified as  [1.] and should be  0
Row 1954 has been classified as  [0.] and should be  1
Row 1956 has been classified as  [1.] and should be  0
Row 1965 has been classified as  [0.] and should be  1
Row 2003 has been classified as  [1.] and should be  0
Row 2007 has been classified as  [1.] and should be  0
Row 2010 has been classified as  [1.] and should be  0
Row 2020 has been classified as  [0.] and should be  1
Row 2038 has been classified as  [0.] and should be  1
Row 2047 has been classified as  [0.] and should be  1
Row 2058 has been classified as  [0.] and should be  1
Row 2060 has been classified as  [1.] and should be  0
Row 2096 has been classified as  [1.] and should be  0
Row 2108 has been classified as  [1.] and should be  0
Row 2109 has been classified as  [0.] and should be  1
Row 2118 has been classified as  [0.] and should be  1
Row 2120 has been classified as  [0.] and should be  1
Row 2124 has been classified as  [1.] and should be  0
Row 2134 has been classified as  [1.] and should be  0
Row 2151 has been classified as  [0.] and should be  1
Row 2169 has been classified as  [0.] and should be  1
Row 2173 has been classified as  [0.] and should be  1
Row 2179 has been classified as  [0.] and should be  1
Row 2181 has been classified as  [0.] and should be  1
Row 2198 has been classified as  [1.] and should be  0
Row 2199 has been classified as  [1.] and should be  0
Row 2213 has been classified as  [1.] and should be  0
Row 2284 has been classified as  [0.] and should be  1
Row 2286 has been classified as  [0.] and should be  1
Row 2294 has been classified as  [1.] and should be  0
Row 2304 has been classified as  [0.] and should be  1
Row 2305 has been classified as  [0.] and should be  1
Row 2312 has been classified as  [1.] and should be  0
Row 2315 has been classified as  [0.] and should be  1
Row 2319 has been classified as  [0.] and should be  1
Row 2347 has been classified as  [1.] and should be  0
Row 2356 has been classified as  [1.] and should be  0
Row 2365 has been classified as  [0.] and should be  1
Row 2377 has been classified as  [0.] and should be  1
Row 2386 has been classified as  [0.] and should be  1
Row 2410 has been classified as  [0.] and should be  1
Row 2438 has been classified as  [1.] and should be  0
Row 2450 has been classified as  [0.] and should be  1
Row 2466 has been classified as  [1.] and should be  0
Row 2469 has been classified as  [0.] and should be  1
Row 2474 has been classified as  [1.] and should be  0
Row 2475 has been classified as  [0.] and should be  1
Row 2476 has been classified as  [0.] and should be  1
Row 2477 has been classified as  [1.] and should be  0
Row 2491 has been classified as  [0.] and should be  1
Row 2493 has been classified as  [0.] and should be  1
Row 2502 has been classified as  [0.] and should be  1
Row 2511 has been classified as  [0.] and should be  1
Row 2524 has been classified as  [0.] and should be  1
Row 2541 has been classified as  [0.] and should be  1
Row 2544 has been classified as  [0.] and should be  1
Row 2566 has been classified as  [0.] and should be  1
Row 2576 has been classified as  [1.] and should be  0
Row 2580 has been classified as  [1.] and should be  0
Row 2585 has been classified as  [0.] and should be  1
Row 2591 has been classified as  [0.] and should be  1
Row 2639 has been classified as  [1.] and should be  0
Row 2656 has been classified as  [1.] and should be  0
Row 2694 has been classified as  [1.] and should be  0
Row 2696 has been classified as  [1.] and should be  0
Row 2700 has been classified as  [1.] and should be  0
Row 2703 has been classified as  [1.] and should be  0
Row 2709 has been classified as  [0.] and should be  1
Row 2710 has been classified as  [0.] and should be  1
Row 2754 has been classified as  [0.] and should be  1
Row 2760 has been classified as  [0.] and should be  1
Row 2761 has been classified as  [1.] and should be  0
Row 2779 has been classified as  [1.] and should be  0
Row 2785 has been classified as  [1.] and should be  0
Row 2792 has been classified as  [0.] and should be  1
Row 2806 has been classified as  [0.] and should be  1
Row 2807 has been classified as  [1.] and should be  0
Row 2808 has been classified as  [0.] and should be  1
Row 2824 has been classified as  [1.] and should be  0
Row 2845 has been classified as  [0.] and should be  1
Row 2846 has been classified as  [0.] and should be  1
Row 2857 has been classified as  [1.] and should be  0
Row 2865 has been classified as  [0.] and should be  1
Row 2878 has been classified as  [0.] and should be  1
Row 2882 has been classified as  [1.] and should be  0
Row 2903 has been classified as  [1.] and should be  0
Row 2909 has been classified as  [1.] and should be  0
Row 2916 has been classified as  [0.] and should be  1
Row 2923 has been classified as  [0.] and should be  1
Row 2925 has been classified as  [1.] and should be  0
Row 2927 has been classified as  [0.] and should be  1
Row 2929 has been classified as  [0.] and should be  1
Row 2931 has been classified as  [1.] and should be  0
Row 2936 has been classified as  [0.] and should be  1
Row 2950 has been classified as  [0.] and should be  1
Row 2960 has been classified as  [0.] and should be  1
Row 2971 has been classified as  [1.] and should be  0
Row 2974 has been classified as  [1.] and should be  0
Row 2975 has been classified as  [0.] and should be  1
Row 2978 has been classified as  [0.] and should be  1
Row 2998 has been classified as  [1.] and should be  0
Row 3001 has been classified as  [1.] and should be  0
Row 3002 has been classified as  [1.] and should be  0
Row 3015 has been classified as  [0.] and should be  1
Row 3017 has been classified as  [1.] and should be  0
Row 3026 has been classified as  [1.] and should be  0
Row 3027 has been classified as  [1.] and should be  0
Row 3032 has been classified as  [1.] and should be  0
Row 3047 has been classified as  [1.] and should be  0
Row 3053 has been classified as  [0.] and should be  1
Row 3065 has been classified as  [1.] and should be  0
Row 3071 has been classified as  [0.] and should be  1
Row 3082 has been classified as  [0.] and should be  1
Row 3092 has been classified as  [0.] and should be  1
Row 3095 has been classified as  [1.] and should be  0
Row 3100 has been classified as  [0.] and should be  1
Row 3129 has been classified as  [0.] and should be  1
Row 3132 has been classified as  [1.] and should be  0
Row 3143 has been classified as  [0.] and should be  1
Row 3163 has been classified as  [1.] and should be  0
Row 3170 has been classified as  [0.] and should be  1
Row 3171 has been classified as  [0.] and should be  1
Row 3180 has been classified as  [1.] and should be  0

Row 3185 has been classified as  [1.] and should be  0
Row 3187 has been classified as  [0.] and should be  1
Row 3209 has been classified as  [0.] and should be  1
Row 3214 has been classified as  [0.] and should be  1
Row 3238 has been classified as  [0.] and should be  1
Row 3265 has been classified as  [1.] and should be  0
Row 3280 has been classified as  [1.] and should be  0
Row 3282 has been classified as  [0.] and should be  1
Row 3291 has been classified as  [0.] and should be  1
Row 3312 has been classified as  [0.] and should be  1
Row 3323 has been classified as  [0.] and should be  1
Row 3336 has been classified as  [1.] and should be  0
Row 3347 has been classified as  [0.] and should be  1
Row 3406 has been classified as  [1.] and should be  0
Row 3434 has been classified as  [0.] and should be  1
Row 3443 has been classified as  [0.] and should be  1
Row 3458 has been classified as  [0.] and should be  1
Row 3483 has been classified as  [0.] and should be  1
Row 3488 has been classified as  [1.] and should be  0
Row 3491 has been classified as  [0.] and should be  1
Row 3495 has been classified as  [1.] and should be  0
Row 3506 has been classified as  [1.] and should be  0
Row 3507 has been classified as  [1.] and should be  0
Row 3521 has been classified as  [1.] and should be  0
Row 3526 has been classified as  [1.] and should be  0
Row 3528 has been classified as  [1.] and should be  0
Row 3530 has been classified as  [0.] and should be  1
Row 3551 has been classified as  [1.] and should be  0
Row 3564 has been classified as  [0.] and should be  1
Row 3565 has been classified as  [1.] and should be  0
Row 3571 has been classified as  [0.] and should be  1
Row 3584 has been classified as  [0.] and should be  1
Row 3593 has been classified as  [0.] and should be  1
Row 3594 has been classified as  [0.] and should be  1
Row 3642 has been classified as  [1.] and should be  0
Row 3657 has been classified as  [0.] and should be  1
Row 3691 has been classified as  [1.] and should be  0
Row 3692 has been classified as  [0.] and should be  1
Row 3703 has been classified as  [1.] and should be  0
Row 3707 has been classified as  [1.] and should be  0
Row 3712 has been classified as  [1.] and should be  0
Row 3746 has been classified as  [1.] and should be  0
Row 3759 has been classified as  [0.] and should be  1
Row 3771 has been classified as  [1.] and should be  0
Row 3794 has been classified as  [0.] and should be  1
Row 3801 has been classified as  [1.] and should be  0
Row 3807 has been classified as  [1.] and should be  0
Row 3809 has been classified as  [0.] and should be  1
Row 3820 has been classified as  [1.] and should be  0
Row 3821 has been classified as  [0.] and should be  1
Row 3828 has been classified as  [1.] and should be  0
Row 3840 has been classified as  [0.] and should be  1
Row 3878 has been classified as  [1.] and should be  0
Row 3895 has been classified as  [1.] and should be  0
Row 3909 has been classified as  [1.] and should be  0
Row 3933 has been classified as  [1.] and should be  0
Row 3937 has been classified as  [1.] and should be  0
Row 3947 has been classified as  [0.] and should be  1
Row 3964 has been classified as  [0.] and should be  1
Row 3979 has been classified as  [1.] and should be  0
Row 3984 has been classified as  [0.] and should be  1
Row 3987 has been classified as  [0.] and should be  1
Row 3991 has been classified as  [0.] and should be  1
Row 4037 has been classified as  [1.] and should be  0
Row 4042 has been classified as  [0.] and should be  1
Row 4048 has been classified as  [1.] and should be  0
Row 4056 has been classified as  [1.] and should be  0
Row 4062 has been classified as  [1.] and should be  0
Row 4072 has been classified as  [1.] and should be  0
Row 4077 has been classified as  [1.] and should be  0
Row 4090 has been classified as  [1.] and should be  0
Row 4110 has been classified as  [0.] and should be  1
Row 4113 has been classified as  [1.] and should be  0
Row 4114 has been classified as  [0.] and should be  1
Row 4118 has been classified as  [0.] and should be  1
Row 4128 has been classified as  [0.] and should be  1
Row 4132 has been classified as  [0.] and should be  1
Row 4137 has been classified as  [0.] and should be  1
Row 4165 has been classified as  [1.] and should be  0
Row 4185 has been classified as  [1.] and should be  0
Row 4195 has been classified as  [1.] and should be  0

---

# Fix Inaccurate Accuracy

In [ ]:
# df.drop(columns= [], inplace=True)

## GridSearch

I modified the code from "GridSearch with keras" by Riley Dallas and Adi bronshtein; shown to me by Eric Bayless. It is almost identical.

**Note:**

Issue with ```early_stop = EarlyStopping(monitor='val_loss', patience=10, verbose=1)```

I changed ```val_loss``` for ```loss``` on previous attempts.

In [ ]:
# Add an arugment of number of layers to the function (and loop through it) 

break

def model_fn_deep(hidden_neurons=32, hidden_layers=5, dropout=0.5):
    model=Sequential()
    
    for layer in range(hidden_layers):
        if layer == 0:
            model.add(Dense(hidden_neurons, input_shape=(X.shape[1],), activation='relu'))
            model.add(Dropout(dropout))
        else:
            model.add(Dense(hidden_neurons, activation='relu'))
            model.add(Dropout(dropout))
            
    model.add(Dense(1, activation='sigmoid'))
    
    model.compile(loss='bce', metrics=['acc'], optimizer='adam')
    
    return model

nn_deep = KerasClassifier(build_fn = model_fn_deep, batch_size=32, verbose=0)

early_stop = EarlyStopping(monitor='val_loss', patience=10, verbose=1) ######## Can be an issue ##########

params_deep = {
    'hidden_neurons': [16,32,64,128,256,512,1024],
    'hidden_layers': [2,3,4,5,6,7,8,9,10],
    'dropout': [0.1,0.2,0.3,0.4,0.5],
    'epochs': [10,20,50,100],
    'callbacks': [early_stop]
}

gs_deep = GridSearchCV(nn_deep, param_grid=params_deep, cv=5, n_jobs=-1)

gs_deep.fit(X_train_sc, y_train)
print(gs_deep.best_score_)
gs_deep.best_params_